.company-info {
  width: 100%;
}

.menu-path {
  padding: 20px;
  font-size: 12px;
  font-weight: 600;
}

.sub-title {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid var(--border-bright);
}

.sub-title span::before {
  content: '|';
  position: relative;
  top: -1px;
  padding: 0 16px;
  font-size: 0.8em;
}

.company-info-content > div {
  flex-direction: column;
  margin-top: 0;
  padding: 12px;
}

.company-info-img {
  width: 100%;
  height: 50vh;
  margin-right: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.company-info-txt {
  margin-top: 16px;
  font-size: 0.8em;

  h4 {
    margin-bottom: 6px;
  }

  h3, h4, p {
    line-height: 22px;
  }
}

.company-map {
  margin: 40px 0;
  
  h2 {
    text-align: center;
  }
}

.map {
  height: 360px;
}
