@charset "UTF-8";
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: 700;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: 600;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: 500;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: 400;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: 300;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  background-color: #ffffff;
}

body,
textarea,
button,
input,
em {
  font-family: "SUIT", "Malgun Gothic", dotum, gulim, sans-serif;
}

body {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.fw-bold {
  font-weight: bold;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.valign-t {
  vertical-align: top;
}

.valign-b {
  vertical-align: bottom;
}

.valign-m {
  vertical-align: middle;
}

.fc-primary {
  color: #1b61aa;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.btn.btn-outline-gray {
  border: 1px solid #999999;
  color: #999999;
}
.btn.btn-round {
  border-radius: 20px;
}
.btn.btn-sm {
  height: 30px;
  font-size: 14px;
  padding: 0 14px;
}
.btn.btn-white {
  background-color: #ffffff;
}
.btn.btn-primary {
  background-color: #31b9f2;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #0066cb;
  color: #ffffff;
}
.btn.btn-red {
  background-color: red;
  color: #ffffff;
}
.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-md {
  height: 3.4375rem;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 600;
}
.btn.btn-wide {
  width: 100%;
}

.input-wrap {
  min-width: 100px;
  height: 50px;
  overflow: hidden;
}
.input-wrap input, .input-wrap select {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 1px solid #d0d0d0;
  font-size: 16px;
  padding: 10px;
}
.input-wrap input::placeholder, .input-wrap select::placeholder {
  color: #8d8d8d;
}
.input-wrap input:focus, .input-wrap select:focus {
  outline: none;
  background-color: #ecf3f8;
  border-color: #31b9f2;
}
.input-wrap input[type=number]::-webkit-inner-spin-button, .input-wrap select[type=number]::-webkit-inner-spin-button {
  appearance: none;
}
.input-wrap select {
  padding: 0 10px;
}

.input-group {
  display: flex;
  align-items: center;
}
.input-group .input-wrap {
  margin-bottom: 0;
}
.input-group .dash {
  padding: 0 0.3125rem;
}
.input-group.phone .input-wrap {
  min-width: 0;
  width: 4.125rem;
}
.input-group.phone .input-wrap input {
  width: 4.125rem;
}
.input-group.biz-number .input-wrap {
  min-width: 0;
  width: 4.125rem;
}
.input-group.corporation-number .input-wrap {
  min-width: 0;
}
.input-group.corporation-number .input-wrap:nth-of-type(1) {
  width: 6.0625rem;
}
.input-group.corporation-number .input-wrap:nth-of-type(3) {
  width: 7.5rem;
}

.checkbox-wrap {
  display: inline-block;
  margin-right: 0.625rem;
  width: 1.0625rem;
  height: 1.0625rem;
}
.checkbox-wrap input[type=checkbox] {
  width: 1.0625rem;
  height: 1.0625rem;
  margin: 0;
}

.radio-wrap input[type=radio] {
  position: relative;
  width: 0.8125rem;
  height: 0.8125rem;
  appearance: none;
  font-size: 0;
}
.radio-wrap input[type=radio]:before {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
}
.radio-wrap input[type=radio]:checked:after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0.3125rem;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #e34b4b;
}

.global-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 1200px;
  height: calc(46px + 80px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.global-header:hover {
  background-color: #fff;
}

.global-header:hover .gnb_notice,
.global-header:hover .nav .nav-list > li > a {
  color: #000;
}

header.bg-white .gnb {
  border-bottom-color: #b2b2b2;
}

.gnb {
  height: 46px;
  border-bottom: 1px solid #404347;
  padding: 0 30px;
}

.notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gnb_notice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
  z-index: 2;
  color: #fff;
}

.login-wrap {
  margin-right: -4px;
}

.gnb .suffix .link-manage {
  font-size: 15px;
  color: #e34b4b;
  margin-right: 15px;
}
.gnb .suffix .user-name {
  font-size: 17px;
  font-weight: 700;
  color: #417ed0;
}
.gnb .suffix .login-wrap {
  display: inline-block;
  margin-left: 10px;
}
.gnb .suffix .login-wrap li {
  display: inline-block;
  margin-left: 10px;
}
.gnb .suffix .login-wrap .btn.login {
  position: relative;
  padding-right: 36px;
  background-color: #31b9f2;
  color: #ffffff;
  border-color: #31b9f2;
}
.gnb .suffix .login-wrap .login:after {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  display: inline-block;
  width: 25px;
  height: 23px;
  background-image: url("/images/front/icon_login.png");
  background-repeat: no-repeat;
  background-size: contain;
}


/* header.bg-white {
  border-bottom: 1px solid #404347;
}
header.bg-white nav.nav {
  background-color: #ffffff;
}
header.bg-white nav.nav .nav-list > li a {
  color: #000000;
}
header.bg-white nav.nav .incaron-logo {
  background-image: url("/images/front/index_logo_black.png");
}
header.bg-white .gnb {
  background-color: #ffffff;
}
header nav.nav > img.logo-white{
  display: block;
}
header nav.nav > img.logo-black{
  display: none;
} */

/* 
.dim {
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.1s;
} */

.logo {
  margin-right: 60px;
}

.nav {
  height: 80px;
  padding: 0 30px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

nav.nav .incaron-logo {
  display: inline-block;
  width: 123px;
  height: 33px;
  background-image: url("/images/front/index_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}

nav.nav .nav-list > li.on .item {
  color: #e34b4b;
  border-bottom: 1px dashed #e34b4b;
}
nav.nav .nav-list > li > a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  transition: all 0.3s ease-in-out;
}
nav.nav .nav-list > li > a .item {
  padding-bottom: 3px;
  white-space: nowrap;
}
nav.nav .nav-list > li:nth-last-child(1) > a {
  padding-right: 0;
}
nav.nav .depth-02 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #f4f4f4;
  padding-right: 50px;
  transition: all 0.3s ease-in-out;
}
nav.nav .depth-02 .company-info {
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
}
nav.nav .depth-02 .company-info .text {
  font-size: 19px;
  letter-spacing: 1.1;
}
nav.nav .depth-02 .company-info .tel {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.3;
}
nav.nav .depth-02 .depth-02-list {
  display: flex;
  width: 840px;
  height: 100%;
  margin-left: auto;
}
nav.nav .depth-02 .depth-02-list > li {
  padding-top: 16px;
  flex: 0 0 140px;
  display: inline-block;
}
nav.nav .depth-02 .depth-02-list > li.on {
  background-color: #e34b4b;
}
nav.nav .depth-02 .depth-02-list > li.on > ul > li a {
  color: #ffffff;
}
nav.nav .depth-02 .depth-02-list > li > ul > li {
  text-align: left;
  padding: 8px 10px 8px 30px;
  font-size: 15px;
}
nav.nav .depth-02 .depth-02-list > li > ul > li:hover {
  text-decoration: underline;
}

footer {
  font-family: "Pretendard", sans-serif;
}

.comepanyinfor {
  padding: 20px 0;
  width: 100%;
  background: #eee;
}
.comepanyinfor .cin_tit {
  margin: 0 auto;
  width: 1200px;
  text-align: left;
  font-size: 14px;
  color: #b9b9b9;
  line-height: 20px;
}
.comepanyinfor .cin_tit .list {
  display: inline-block;
}
.comepanyinfor .cin_tit .list a {
  padding: 0 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1px;
  color: #828282;
}
.comepanyinfor .cin_tit .list a:nth-child(1) {
  padding-left: 0;
}

.comepanyinfor .cin_tit .affiliates {
  display : inline-block;
  float : right;
}
.comepanyinfor .cin_tit .affiliates span {
  margin-right: 20px;
}
.comepanyinfor .cin_tit .affiliates span:last-child {
  margin-right: 0;
}
.comepanyinfor .cin_tit .affiliates span img {
  width: 110px;
  padding: 0 19px;
  margin-top: -8px;
}
.comepanyinfor .cin_tit .affiliates span img:last-child {
  width: 115px;
  padding-right: 0;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto;
}

.footer_copyright .logo .wrap .en {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #b4b4b4;
  letter-spacing: -1px;
}
.footer_copyright .logo > p {
  margin-top: 10px;
  color: #d5d5d5;
  text-align: center;
} 

.footer_copyright .copy {
  float: right;
  width: 72%;
  text-align: left;
}

.footer_copyright .copy span,
.footer_copyright .copy p {
  font-size: 13px;
  color: #5f5f5f;
  line-height: 28px;
}
.footer_copyright .copy p {
  padding-top: 10px;
}

.quick-menu {
  position: fixed;
  top: 178px;
  right: 10px;
  width: 100px;
  padding: 20px 8px 0;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  z-index: 2;
}
.quick-menu .quick-title {
  position: absolute;
  padding: 10px 5px;
  top: -18px;
  left: -1px;
  font-size: 15px;
  font-weight: 600;
  width: calc(100% + 2px);
  color: #ffffff;
  background-color: rgb(49, 185, 242);
  border-radius: 8px;
  text-align: center;
}
.quick-menu .menu-item {
  font-size: 14px;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
  font-weight: 700;
}
.quick-menu .menu-item:hover {
  background-color: rgb(49, 185, 242, .5);
}
.quick-menu .menu-item:first-child {
  background-color: #ffe902;
}
.quick-menu .menu-item:last-child {
  border-bottom: 0;
}
.quick-menu .menu-item .icon {
  text-align: center;
  margin-bottom: 10px;
}
.quick-menu .menu-item .icon [class*=icon-] {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.quick-menu .icon-quick-dart {
  background-image: url("/images/front/icon_quick_dart.png");
}
.quick-menu .icon-quick-heart {
  background-image: url("/images/front/icon_quick_heart.png");
}
.quick-menu .icon-quick-notice {
  background-image: url("/images/front/icon_quick_notice.png");
}
.quick-menu .icon-quick-chart {
  background-image: url("/images/front/icon_quick_chart.png");
}
.quick-menu .icon-quick-checklist {
  background-image: url("/images/front/icon_quick_checklist.png");
}
.quick-menu .icon-quick-docu {
  background-image: url("/images/front/icon_quick_docu.png");
}

.pagination {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #dddddd;
}
.pagination span {
  font-size: 13px;
}

[class*=icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-arrow-half {
  width: 34px;
  height: 10px;
  background-image: url("/images/front/icon_arrow_half.png");
}

.icon-calendar {
  width: 22px;
  height: 22px;
  background-image: url("/images/front/icon_calendar.gif");
}

.icon-home {
  width: 21px;
  height: 19px;
  background-image: url("/images/front/icon_home.png");
}

table td,
table th {
  font-size: 13px;
}
table .form-table {
  border-collapse: collapse;
  border: 1px solid #d8d8d8;
  background: #fff;
}
table .form-table > tbody > tr > th, table .form-table > tbody > tr > td {
  border: 1px solid #D8D8D8;
  height: 36px;
  padding: 5px;
  font-size: 14px;
}
table .form-table > tbody > tr > th {
  text-align: center;
  background: #EFEFEF;
  font-weight: 700;
}
table .form-table > tbody > tr > td {
  text-align: left;
}
table .form-table > tbody > tr > td table td {
  font-size: 14px;
}
table .form-table .radio-list li {
  display: inline-block;
  margin-right: 10px;
}
table .form-table .btn-default-table {
  cursor: pointer;
  background-color: #e8eff7;
  color: #0e3b5d;
  border: #4e7ac1 1px solid;
  padding-bottom: 3px;
  font-size: 12px;
  height: 25px;
  padding: 0 10px;
}
table .form-table .notice-text {
  margin: 0 10px;
}
table.table-standard tr td, table.table-standard tr th {
  font-size: 15px;
  border: 1px solid #D8D8D8;
}
table.table-standard tr th {
  height: 35px;
  background: #f7f7f7;
  font-weight: normal;
}
table.table-standard tr td {
  text-align: center;
  padding: 2px 2px 2px 2px;
  color: #999999;
  color: #000000;
}

#wrap {
  min-width: 1280px;
}

.main .main-visual {
  position: relative;
  height: 1000px;
}
.main .main-visual .swiper-slide img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}
.main .main-visual .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 20px;
}
.main .main-visual .main-text .catch-phrase {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
}
.main .main-visual .main-text .sub-text {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
}
.main .notice-banner {
  width: 100%;
  border-bottom: 1px solid #a3a3a3;
}
.main .notice-banner .container {
  width: 1200px;
  margin: auto;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.main .notice-banner .container .notice {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.main .notice-banner .container .notice .header {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
}
.main .notice-banner .container .notice .header:before {
  content: "";
  display: inline-block;
  background-image: url("/images/front/icon_notice.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
  vertical-align: middle;
}
.main .notice-banner .container .notice .notice-item {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  margin-right: 25px;
}
.main .notice-banner .container .notice .notice-item:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-right: 1px solid #ababab;
  height: 16px;
}
.main .notice-banner .container .notice .notice-item .title {
  padding: 10px 30px;
  font-size: 15px;
}
.main .notice-banner .container .notice .notice-item .date {
  font-size: 15px;
}
.main .notice-banner .container .btn-more {
  font-size: 15px;
  font-weight: 600;
  color: #7e7e7e;
}
.main .co_car_all {
  display: block;
  width: 100%;
}
.main .co_car_tit {
  padding: 40px 0 10px;
  width: 100%;
}
.main .co_car_tit .co_car_area {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.main .co_car_tit .co_car_area .ctit {
  font-size: 23px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}
.main .co_car_tit .co_car_area .view a {
  position: absolute;
  top: 3px;
  right: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 17px;
}
.main .co_car_tit .co_car_area .view a span {
  vertical-align: text-top;
  padding-right: 3px;
}
.main .main-half-banner {
  display: flex;
  width: 1200px;
  margin: 45px auto;
  justify-content: space-between;
}
.main .main-half-banner .banner {
  position: relative;
  height: 175px;
  flex: 0 0 calc(50% - 10px);
  color: #ffffff;
  text-align: left;
  padding: 30px 0 20px 45px;
  background-repeat: no-repeat;
  background-position: right 20px bottom 50%;
  border-radius: 8px;
}
.main .main-half-banner .banner:nth-of-type(1) {
  background-color: #1b61aa;
  background-image: url("/images/front/main_banner_bg_car.png");
}
.main .main-half-banner .banner:nth-of-type(1) .btn.link {
  color: #1b61aa;
}
.main .main-half-banner .banner:nth-of-type(2) {
  background-color: #1f9286;
  background-image: url("/images/front/main_banner_bg_document.png");
}
.main .main-half-banner .banner:nth-of-type(2) .btn.link {
  color: #1f9286;
}
.main .main-half-banner .banner .title {
  font-size: 25px;
  font-weight: 600;
}
.main .main-half-banner .banner .sub-text {
  width: 300px;
  margin-top: 5px;
  font-size: 14px;
}
.main .main-half-banner .banner .btn.link {
  position: absolute;
  bottom: 20px;
  left: 45px;
  height: 32px;
  font-size: 15px;
  font-weight: 600;
  padding: 0 40px;
}
.main .main-half-banner .banner .btn.link [class*=icon-] {
  margin-left: 5px;
}
.main .main-half-banner .banner .btn.link .url {
  margin-left: 5px;
  color: #000000;
  font-weight: 700;
}
.main .co_car_ser {
  margin: 2rem 0;
  padding: 0 0 30px;
  width: 100%;
  background-color: #f1f1f1;
  background-image: url("/images/front/main_bg_gray.jpg");
  background-position: center;
  background-size: cover;
}
.main .co_car_ser .ser_tit {
  padding: 50px 0 25px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.main .co_car_ser .inform {
  width: 1200px;
  margin: 25px auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 285px);
}
.main .co_car_ser .inform .in_box {
  display: inline-block;
  background: #fff;
  padding: 0 0 2rem;
  margin-right: 13px;
  border: 1px solid #ccc;
  text-align: center;
}
.main .co_car_ser .inform .in_box:last-child {
  margin-right: 0;
}
.main .co_car_ser .inform .in_box .img-wrap img {
  width: 100%;
}
.main .co_car_ser .inform .in_box .in_tit {
  font-size: 17px;
  color: #222222;
  font-weight: 700;
  line-height: 19px;
  padding: 28px 0 18px;
}
.main .co_car_ser .inform .in_box p {
  width: 70%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  text-align: center;
}
.main .co_car_cus {
  margin: 50px auto;
  width: 1200px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 370px);
}
.main .co_car_cus .ccus_box {
  display: inline-block;
  vertical-align: top;
}
.main .co_car_cus .ccus_box:last-child {
  margin-right: 0;
}
.main .co_car_cus .ccus_box .ccus_tit {
  padding: 0 0 17px;
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  line-height: 19px;
  border-bottom: 1px solid #d8d8d8;
}
.main .co_car_cus .ccus_box .ccus_tit span {
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #595959;
}
.main .co_car_cus .ccus_box .ccus_tit .n_tit {
  display: inline-block;
}
.main .co_car_cus .ccus_box .ccus_tit .n_view {
  display: inline-block;
  float: right;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
}
.main .co_car_cus .ccus_box .ccus_tit .n_view a {
  color: #a2a2a8;
}
.main .co_car_cus .ccus_box .ccus_tel {
  padding: 0px 0 10px 5px;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  color: #222;
  line-height: 33px;
}
.main .co_car_cus .ccus_box .ccus_tel span {
  padding-right: 10px;
  font-weight: 700;
  font-size: 15px;
  color: #595959;
  line-height: 17px;
}
.main .co_car_cus .ccus_box .ccus_time {
  margin: 25px 0 0 5px;
  color: #222;
  text-align: left;
  font-weight: 700;
  font-size: 15px;
}
.main .co_car_cus .ccus_box .ccus_time span:first-child {
  padding-right: 10px;
  color: #595959;
}
.main .co_car_cus .ccus_box .ccus_time span:last-child {
  padding-left: 20px;
  color: #afafaf;
}
.main .co_car_cus .ccus_box .ccus_notice li {
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: #595959;
  line-height: 28px;
}
.main .co_car_cus .ccus_box .ccus_notice li:before {
  content: "·";
  margin-right: 5px;
}

.sub-visual {
  position: relative;
  background-image: url("/images/front/sub_visual.jpg");
  background-position: center;
  background-size: cover;
  height: 332px;
  /* margin-top: calc(46px + 80px); */
}
.sub-visual .sub-text {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}
.sub-visual .sub-text .catch-phrase {
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}
.sub-visual .sub-text .description-text {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
}

.filter-group {
  font-size: 13px;
}

.sub .content-topper {
  border-bottom: 1px solid #b2b2b2;
}
.sub .content-topper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  width: 1200px;
  margin: auto;
}
.sub .content-topper .container h2 {
  font-size: 30px;
}
.sub .content-topper .container .location {
  text-align: right;
  flex: 1 1 300px;
  font-size: 16px;
  color: #828282;
}
.sub .content-topper .container .location > ul {
  display: inline-block;
  margin-left: 10px;
}
.sub .content-topper .container .location > ul li {
  display: inline-block;
}
.sub .content-topper .container .location > ul li:after {
  content: ">";
}
.sub .content-topper .container .location > ul li:nth-last-child(1):after {
  content: none;
}
.sub .content-topper .container .location > ul li.current {
  font-weight: 500;
  color: #000000;
}
.sub .greeting {
  width: 1200px;
  margin: 0 auto 30px;
  padding: 36px 0;
  background-image: url("/images/front/img_greeting.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  text-align: left;
  word-break: keep-all;
}
.sub .greeting .header {
  font-size: 25px;
  line-height: 40px;
  color: #000000;
  width: 700px;
}
.sub .greeting .body, .sub .greeting .footer {
  margin-top: 65px;
  font-size: 16px;
  line-height: 30px;
  width: 420px;
}
.sub .greeting .body p.mb-60, .sub .greeting .footer p.mb-60 {
  margin-bottom: 60px;
}
.sub .greeting .body p.mb-35, .sub .greeting .footer p.mb-35 {
  margin-bottom: 35px;
}

.search-box {
  width: 1200px;
  margin: auto;
  background-color: #ebf6fb;
}
.search-box .filter-group {
  font-size: 14px;
}
.search-box .filter-group a {
  font-weight: 700;
  color: #000000;
}

.co_car_list {
  margin: 20px auto 25px;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 220px);
  justify-content: space-between;
  gap: 20px;
}
.co_car_list.for-sale .carbox .area_h button .ico_carheart.on {
  background-image: url(/mainimg/icon_carheart_on.png);
}
.co_car_list.for-sale .carbox:nth-of-type(5n) {
  margin-right: 0;
}
.co_car_list .carbox {
  display: inline-block;
  width: 220px;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  cursor: pointer;
}
.co_car_list .carbox:last-child {
  margin-right: 0;
}
.co_car_list .carbox img {
  width: 100%;
}
.co_car_list .carbox .area_h {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
}
.co_car_list .carbox .area_h button {
  display: inline-block;
  overflow: visible;
  border: 0;
  cursor: pointer;
  background: #fff;
}
.co_car_list .carbox .area_h button .ico_carheart {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(/mainimg/icon_carheart_off.png);
}
.co_car_list .carbox .area_h i {
  display: inline-block;
  vertical-align: top;
  background: center/100% no-repeat;
}
.co_car_list .carbox .area_h .ct_c {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #5d5fef;
}
.co_car_list .carbox .area_h .ct_r {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #222;
}
.co_car_list .carbox .number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px;
  margin: 0 0 10px;
  background: #f0f4f8;
}
.co_car_list .carbox .number .n_tit {
  font-size: 14px;
  color: #595959;
  font-weight: 700;
  line-height: 14px;
}
.co_car_list .carbox .number .n_tit span {
  color: #2279cb;
}
.co_car_list .carbox .carname {
  position: relative;
  margin: 20px 0 10px;
  max-height: 75px;
}
.co_car_list .carbox .carname .c_model {
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
}
.co_car_list .carbox .carname p {
  padding: 10px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  color: #595959;
}
.co_car_list .carbox .carname p span {
  padding: 0 5px;
}
.co_car_list .carbox .carname p span:before {
  left: 71px;
}
.co_car_list .carbox .carname p span:after {
  left: 132px;
}
.co_car_list .carbox .btn-group{
  margin-bottom: 10px;
}
.co_car_list .carbox .carcheck {
  background: #f1f1f1;
  padding: 10px 20px;
  text-align: left;
  font-size: 13px;
}
.co_car_list .carbox .carcheck p {
  padding: 2px 0;
  font-weight: 600;
  font-size: 14px;
}
.co_car_list .carbox .carcheck p strong {
  color: #e84f4f;
  font-weight: 700;
  font-size: 14px;
}
.co_car_list .carbox .carcheck p span {
  padding-right: 5px;
  color: #999;
  font-size: 13px;
}
.co_car_list .carbox .image-wrap {
  position: relative;
  height: 160px;
  overflow: hidden;
}
.co_car_list .carbox .image-wrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}
.co_car_list .carbox .image-wrap:hover img {
  transform: translateY(-50%) scale(1.1);
}

.login.id-pw {
  margin: 200px 0;
}

.login.id-pw .container {
  width: 548px;
  height: 439px;
  margin: 0 auto;
}

.login.id-pw .container h2 {
  margin: 0 0 0.625rem;
  font-size: 1.875rem;
  font-weight: 500;
}
.login.id-pw .container .sub-text {
  font-size: 0.875rem;
  color: #888888;
  margin-bottom: 1.875rem;
}
.login.id-pw .container .border-box {
  width: 100%;
  height: 100%;
  padding: 60px 50px;
  border: 1px solid #cbcbcb;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.login.id-pw .container .border-box .input-wrap {
  min-width: 100px;
  height: 50px;
  margin-bottom: 0.625rem;
}

.login.id-pw .container .border-box .input-wrap input {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.login.id-pw .container .border-box .submit.btn {
  margin-top: 0.9375rem;
}
.login.id-pw .container .border-box .phone {
  margin-bottom: 0.625rem;
  justify-content: space-between;
}
.login.id-pw .container .border-box .phone .input-wrap {
  margin-bottom: 0;
  width: auto;
}
.login.id-pw .container .border-box .phone .input-wrap input {
  width: 100%;
}

.login.id-pw .container .link {
  margin: 1.875rem 0 0;
  text-align: center;
}
.login.id-pw .container .link > ul {
  margin: 0;
}
.login.id-pw .container .link > ul li {
  position: relative;
  display: inline-block;
  padding: 0 1.875rem;
}
.login.id-pw .container .link > ul li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.1875rem;
  border-right: 1px solid #000000;
  height: 0.9375rem;
}
.login.id-pw .container .link > ul li:nth-last-child(1):after {
  content: none;
}
.login.id-pw .container .link > ul li a.btn-link {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

@media all and (max-width: 800px) {
  .login.id-pw {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .login.id-pw .container {
    padding-top: 2.1875rem;
    width: auto;
    margin: auto 1.25rem;
  }
  .login.id-pw .container .logo {
    text-align: center;
  }
  .login.id-pw .container .logo img {
    cursor: pointer;
  }
  .login.id-pw .container h2 {
    margin: 0 0 0.625rem;
    font-size: 1.875rem;
    font-weight: 500;
  }
  .login.id-pw .container .sub-text {
    font-size: 0.875rem;
    color: #888888;
    margin-bottom: 1.875rem;
  }
  .login.id-pw .container .border-box {
    width: 100%;
    margin-top: 2.25rem;
    padding: 3.125rem 1.5625rem;
    border: 1px solid #cbcbcb;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
  }
  .login.id-pw .container .border-box .input-wrap {
    margin-bottom: 0.625rem;
  }
  .login.id-pw .container .border-box .submit.btn {
    margin-top: 0.9375rem;
  }
  .login.id-pw .container .border-box .phone {
    margin-bottom: 0.625rem;
    justify-content: space-between;
  }
  .login.id-pw .container .border-box .phone .input-wrap {
    margin-bottom: 0;
    width: auto;
  }
  .login.id-pw .container .border-box .phone .input-wrap input {
    width: 100%;
  }
  .login.id-pw .container .footer {
    margin-top: 1.875rem;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .login.id-pw .container .footer p {
    margin: 0;
    line-height: 1.25rem;
  }
  .login.id-pw .container .link {
    margin: 1.875rem 0 0;
    text-align: center;
    font-size: 0.875rem;
  }
  .login.id-pw .container .link > ul {
    margin: 0;
  }
  .login.id-pw .container .link > ul li {
    position: relative;
    display: inline-block;
    padding: 0 1.875rem;
  }
  .login.id-pw .container .link > ul li:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.1875rem;
    border-right: 1px solid #000000;
    height: 0.9375rem;
  }
  .login.id-pw .container .link > ul li:nth-last-child(1):after {
    content: none;
  }
  .login.id-pw .container .link > ul li a.btn-link {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
  }
}

.sign-in {
  margin-top: 150px;
}

.sign-in .container {
  width: 750px;
  margin: 3.75rem auto;
  padding: 0 20px;
}
.sign-in .container .gnb-header {
  display: flex;
  /* justify-content: end; */
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #404347;
}
.sign-in .container .gnb-header h1 {
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.sign-in .container .gnb-header h1 .incaron-logo {
  display: inline-block;
  width: 123px;
  height: 33px;
  background-image: url("/images/front/index_logo_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  cursor:pointer;
}
.sign-in .container .gnb-header .step-wrap {
  border: 1px solid #a4a4a4;
  border-radius: 1.875rem;
  height: 2.8125rem;
  overflow: hidden;
}
.sign-in .container .gnb-header .step-wrap ul {
  display: flex;
  height: 100%;
  counter-reset: step;
}
.sign-in .container .gnb-header .step-wrap ul li {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 1.875rem;
}
.sign-in .container .gnb-header .step-wrap ul li:last-child {
  padding-right: 1.4375rem;
}
.sign-in .container .gnb-header .step-wrap ul li:not(:nth-last-child(1)):after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -1.0625rem;
  width: 2.0625rem;
  height: 2.0625rem;
  border-top: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  transform: rotate(45deg);
}
.sign-in .container .gnb-header .step-wrap ul li.on {
  background-color: #000000;
  color: #ffffff;
}
.sign-in .container .gnb-header .step-wrap ul li.on:not(:nth-child(1)):before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1.0625rem;
  width: 2.0625rem;
  height: 2.0625rem;
  transform: rotate(45deg);
  background-color: #ffffff;
}
.sign-in .container .gnb-header .step-wrap ul li.on:after {
  background-color: #000000;
  border: 0;
}
.sign-in .container .gnb-header .step-wrap ul li .step {
  z-index: 1;
}
.sign-in .container .gnb-header .step-wrap ul li .step:before {
  counter-increment: step;
  content: "0" counter(step) ". ";
}
.sign-in .container .header h2 {
  display: inline-block;
  font-size: 1.25rem;
  margin: 1.5625rem 0;
}
.sign-in .container .header .sub-text {
  display: inline-block;
  margin-left: 0.625rem;
  font-size: 1rem;
  color: #acacac;
}
.sign-in .container .form-table {
  border: 1px solid #bbbbbb;
  margin-bottom: 0.625rem;
}
.sign-in .container .form-table > ul {
  display: table;
  width: 100%;
}
.sign-in .container .form-table > ul > li {
  display: table-row;
}
.sign-in .container .form-table > ul > li .label, .sign-in .container .form-table > ul > li .data {
  display: table-cell;
  height: 2.875rem;
  padding: 0.375rem 0.375rem 0.375rem 0.625rem;
  vertical-align: middle;
  border-bottom: 1px solid #d6d6d6;
}
.sign-in .container .form-table > ul > li .label .input-wrap, .sign-in .container .form-table > ul > li .data .input-wrap {
  display: inline-block;
  height: 2.0625rem;
  vertical-align: middle;
  width: 11.25rem;
  min-width: 0;
}
.sign-in .container .form-table > ul > li .label .input-wrap.w-238, .sign-in .container .form-table > ul > li .data .input-wrap.w-238 {
  width: 14.875rem;
}
.sign-in .container .form-table > ul > li .label .input-group, .sign-in .container .form-table > ul > li .data .input-group {
  display: flex;
  align-items: center;
}
.sign-in .container .form-table > ul > li .label .input-group .input-wrap, .sign-in .container .form-table > ul > li .data .input-group .input-wrap {
  margin-bottom: 0;
}
.sign-in .container .form-table > ul > li .label .input-group .dash, .sign-in .container .form-table > ul > li .data .input-group .dash {
  padding: 0 0.3125rem;
}
.sign-in .container .form-table > ul > li .label .input-group.phone .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.phone .input-wrap {
  min-width: 0;
  width: 4.125rem;
}
.sign-in .container .form-table > ul > li .label .input-group.phone .input-wrap input, .sign-in .container .form-table > ul > li .data .input-group.phone .input-wrap input {
  width: 4.125rem;
}
.sign-in .container .form-table > ul > li .label .input-group.biz-number .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.biz-number .input-wrap {
  min-width: 0;
  width: 4.125rem;
}
.sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap {
  min-width: 0;
}
.sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap:nth-of-type(1), .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap:nth-of-type(1) {
  width: 6.0625rem;
}
.sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap:nth-of-type(3), .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap:nth-of-type(3) {
  width: 7.5rem;
}
.sign-in .container .form-table > ul > li .label .address, .sign-in .container .form-table > ul > li .data .address {
  margin-top: 0.625rem;
}
.sign-in .container .form-table > ul > li .label .address .input-wrap, .sign-in .container .form-table > ul > li .data .address .input-wrap {
  display: block;
  width: 28.125rem;
  margin-top: 0.625rem;
}
.sign-in .container .form-table > ul > li .label .btn, .sign-in .container .form-table > ul > li .data .btn {
  margin: 0 0.3125rem;
}
.sign-in .container .form-table > ul > li:nth-last-child(1) .label, .sign-in .container .form-table > ul > li:nth-last-child(1) .data {
  border-bottom: 0;
}
.sign-in .container .form-table > ul > li .label {
  padding-left: 2.5rem;
  background-color: #f3f3f3;
  width: 9.6875rem;
  font-size: 0.875rem;
  font-weight: 700;
}
.sign-in .container .form-table .notice-text, .sign-in .container .form-table .status-text {
  display: inline-block;
  font-size: 0.875rem;
  margin: 0.3125rem;
  color: #828282;
}
.sign-in .container .form-table .status-text {
  color: #e34b4b;
}
.sign-in .ask-agree {
  text-align: center;
}
.sign-in .ask-agree .question {
  display: inline-block;
  font-size: 1rem;
}
.sign-in .ask-agree .answer {
  display: inline-block;
  margin-left: 1.25rem;
}
.sign-in .ask-agree .answer > ul {
  display: inline-block;
  width: 200px;
  text-align: left;
}
.sign-in .ask-agree .answer > ul > li {
  display: inline-block;
  margin: 0 0.625rem;
  font-size: 0.875rem;
  color: #828282;
}
.sign-in .ask-agree .answer > ul > li input[type=radio] {
  position: relative;
  width: 0.8125rem;
  height: 0.8125rem;
  appearance: none;
  font-size: 0;
}
.sign-in .ask-agree .answer > ul > li input[type=radio]:before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
}
.sign-in .ask-agree .answer > ul > li input[type=radio]:checked:after {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  left: 0.0625rem;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background-color: #e34b4b;
}
.sign-in .submit {
  text-align: center;
  margin-top: 1.875rem;
}
.sign-in .term-introduce .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2.1875rem;
}
.sign-in .term-introduce .description {
  margin-bottom: 2.1875rem;
  font-size: 0.875rem;
  line-height: 1.6;
}
.sign-in .term-wrap {
  border: 1px solid #a4a4a4;
}
.sign-in .term-wrap .agree {
  position: relative;
  padding: 1.25rem 1.5625rem;
}
.sign-in .term-wrap .agree label {
  font-size: 1.125rem;
}
.sign-in .term-wrap .agree .link {
  position: absolute;
  right: 1.5625rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000;
}
.sign-in .term-wrap .terms-text {
  padding: 1.25rem 1.5625rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #a4a4a4;
}
.sign-in .term-wrap .terms-text .title {
  font-size: 0.875rem;
  font-weight: 700;
}
.sign-in .term-wrap .terms-text ul {
  font-size: 0.875rem;
}
.sign-in .term-wrap .terms-text ul li {
  display: flex;
  margin-bottom: 0.625rem;
  line-height: 1.4;
}
.sign-in .term-wrap .terms-text ul li .label {
  flex: 0 0 3.75rem;
  color: #666666;
}
.sign-in .term-wrap .terms-text ul li .data {
  margin-left: 0.625rem;
}
.sign-in .next {
  margin-top: 1.25rem;
}
.sign-in input[type=text].form_control,
.sign-in input[type=password].form_control,
.sign-in select.form_select {
  height: 30px;
}

@media all and (max-width: 800px) {
  .sign-in .container {
    width: auto;
    margin: 3.75rem auto;
    padding: 0 20px;
  }
  .sign-in .container .gnb-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #404347;
  }
  .sign-in .container .gnb-header h1 {
    display: inline-block;
    margin: 0;
    line-height: 1;
  }
  .sign-in .container .gnb-header h1 .incaron-logo {
    display: inline-block;
    width: 123px;
    height: 33px;
    background-image: url("/images/front/index_logo_black.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.3s ease-in-out;
  }
  .sign-in .container .gnb-header .step-wrap {
    border: 1px solid #a4a4a4;
    border-radius: 1.875rem;
    height: 2.8125rem;
    width: 100%;
    overflow: hidden;
  }
  .sign-in .container .gnb-header .step-wrap ul {
    display: flex;
    height: 100%;
    width: 100%;
    counter-reset: step;
  }
  .sign-in .container .gnb-header .step-wrap ul li {
    position: relative;
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    padding-left: 1.875rem;
    font-size: 0.625rem;
  }
  .sign-in .container .gnb-header .step-wrap ul li:last-child {
    padding-right: 1.4375rem;
  }
  .sign-in .container .gnb-header .step-wrap ul li:not(:nth-last-child(1)):after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -1.0625rem;
    width: 2.0625rem;
    height: 2.0625rem;
    border-top: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    transform: rotate(45deg);
  }
  .sign-in .container .gnb-header .step-wrap ul li.on {
    background-color: #000000;
    color: #ffffff;
  }
  .sign-in .container .gnb-header .step-wrap ul li.on:not(:nth-child(1)):before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -1.0625rem;
    width: 2.0625rem;
    height: 2.0625rem;
    transform: rotate(45deg);
    background-color: #ffffff;
  }
  .sign-in .container .gnb-header .step-wrap ul li.on:after {
    background-color: #000000;
    border: 0;
  }
  .sign-in .container .gnb-header .step-wrap ul li .step {
    z-index: 1;
  }
  .sign-in .container .gnb-header .step-wrap ul li .step:before {
    display: block;
    counter-increment: step;
    content: "0" counter(step) ". ";
  }
  .sign-in .container .header h2 {
    display: inline-block;
    font-size: 1.25rem;
    margin: 1.5625rem 0;
  }
  .sign-in .container .header .sub-text {
    display: inline-block;
    margin-left: 0.625rem;
    font-size: 1rem;
    color: #acacac;
  }
  .sign-in .container .form-table {
    border: 1px solid #bbbbbb;
    margin-bottom: 0.625rem;
  }
  .sign-in .container .form-table > ul {
    display: table;
    width: 100%;
  }
  .sign-in .container .form-table > ul > li {
    display: table-row;
  }
  .sign-in .container .form-table > ul > li .label, .sign-in .container .form-table > ul > li .data {
    display: table-cell;
    height: 2.875rem;
    padding: 0.375rem 0.375rem 0.375rem 0.625rem;
    vertical-align: middle;
    border-bottom: 1px solid #d6d6d6;
  }
  .sign-in .container .form-table > ul > li .label .input-wrap, .sign-in .container .form-table > ul > li .data .input-wrap {
    display: inline-block;
    height: 2.0625rem;
    vertical-align: middle;
    width: 11.25rem;
    min-width: 0;
  }
  .sign-in .container .form-table > ul > li .label .input-wrap.w-238, .sign-in .container .form-table > ul > li .data .input-wrap.w-238 {
    width: 14.875rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group, .sign-in .container .form-table > ul > li .data .input-group {
    display: flex;
    align-items: center;
  }
  .sign-in .container .form-table > ul > li .label .input-group .input-wrap, .sign-in .container .form-table > ul > li .data .input-group .input-wrap {
    margin-bottom: 0;
  }
  .sign-in .container .form-table > ul > li .label .input-group .dash, .sign-in .container .form-table > ul > li .data .input-group .dash {
    padding: 0 0.3125rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group.phone .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.phone .input-wrap {
    min-width: 0;
    width: 4.125rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group.phone .input-wrap input, .sign-in .container .form-table > ul > li .data .input-group.phone .input-wrap input {
    width: 4.125rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group.biz-number .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.biz-number .input-wrap {
    min-width: 0;
    width: 4.125rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap, .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap {
    min-width: 0;
  }
  .sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap:nth-of-type(1), .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap:nth-of-type(1) {
    width: 6.0625rem;
  }
  .sign-in .container .form-table > ul > li .label .input-group.corporation-number .input-wrap:nth-of-type(3), .sign-in .container .form-table > ul > li .data .input-group.corporation-number .input-wrap:nth-of-type(3) {
    width: 7.5rem;
  }
  .sign-in .container .form-table > ul > li .label .address, .sign-in .container .form-table > ul > li .data .address {
    margin-top: 0.625rem;
  }
  .sign-in .container .form-table > ul > li .label .address .input-wrap, .sign-in .container .form-table > ul > li .data .address .input-wrap {
    display: block;
    width: auto;
    margin-top: 0.625rem;
  }
  .sign-in .container .form-table > ul > li .label .btn, .sign-in .container .form-table > ul > li .data .btn {
    margin: 0 0.3125rem;
  }
  .sign-in .container .form-table > ul > li:nth-last-child(1) .label, .sign-in .container .form-table > ul > li:nth-last-child(1) .data {
    border-bottom: 0;
  }
  .sign-in .container .form-table > ul > li .label {
    background-color: #f3f3f3;
    width: 9.6875rem;
    font-size: 0.75rem;
    font-weight: 700;
  }
  .sign-in .container .form-table .notice-text, .sign-in .container .form-table .status-text {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0.3125rem;
    color: #828282;
  }
  .sign-in .container .form-table .status-text {
    color: #e34b4b;
  }
  .sign-in .ask-agree {
    text-align: center;
  }
  .sign-in .ask-agree .question {
    display: inline-block;
    font-size: 1rem;
  }
  .sign-in .ask-agree .answer {
    display: inline-block;
    margin-left: 1.25rem;
  }
  .sign-in .ask-agree .answer > ul {
    display: inline-block;
    width: 200px;
    text-align: left;
  }
  .sign-in .ask-agree .answer > ul > li {
    display: inline-block;
    margin: 0 0.625rem;
    font-size: 0.875rem;
    color: #828282;
  }
  .sign-in .ask-agree .answer > ul > li input[type=radio] {
    position: relative;
    width: 0.8125rem;
    height: 0.8125rem;
    appearance: none;
    font-size: 0;
  }
  .sign-in .ask-agree .answer > ul > li input[type=radio]:before {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    display: inline-block;
    width: 0.8125rem;
    height: 0.8125rem;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
  }
  .sign-in .ask-agree .answer > ul > li input[type=radio]:checked:after {
    content: "";
    position: absolute;
    bottom: -0.0625rem;
    left: 0.0625rem;
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    background-color: #e34b4b;
  }
  .sign-in .submit {
    text-align: center;
    margin-top: 1.875rem;
  }
  .sign-in .term-introduce .title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2.1875rem;
  }
  .sign-in .term-introduce .description {
    margin-bottom: 2.1875rem;
    font-size: 0.875rem;
    line-height: 1.6;
  }
  .sign-in .term-wrap {
    border: 1px solid #a4a4a4;
  }
  .sign-in .term-wrap .agree {
    position: relative;
    padding: 1.25rem 1.5625rem;
  }
  .sign-in .term-wrap .agree label {
    font-size: 1.125rem;
  }
  .sign-in .term-wrap .agree .link {
    position: absolute;
    right: 1.5625rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.875rem;
    font-weight: 700;
    color: #000000;
  }
  .sign-in .term-wrap .terms-text {
    padding: 1.25rem 1.5625rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #a4a4a4;
  }
  .sign-in .term-wrap .terms-text .title {
    font-size: 0.875rem;
    font-weight: 700;
  }
  .sign-in .term-wrap .terms-text ul {
    font-size: 0.875rem;
  }
  .sign-in .term-wrap .terms-text ul li {
    display: flex;
    margin-bottom: 0.625rem;
    line-height: 1.4;
  }
  .sign-in .term-wrap .terms-text ul li .label {
    flex: 0 0 3.75rem;
    color: #666666;
  }
  .sign-in .term-wrap .terms-text ul li .data {
    margin-left: 0.625rem;
  }
  .sign-in .next {
    margin-top: 1.25rem;
  }
  .sign-in input[type=text].form_control,
.sign-in input[type=password].form_control,
.sign-in select.form_select {
    height: 30px;
  }
}

/*# sourceMappingURL=incaron_style.css.map */
