@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2") format("woff2");
  font-weight: 700;
  font-style: 700;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: 600;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: 500;
}
@font-face { 
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: 400;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: 300;
}
@font-face {
  font-family: "SUIT";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body,
html {
  margin: 0;
  background-color: #e9e9e9;
}

body,
textarea,
button,
input,
em {
  font-family: "SUIT", "Malgun Gothic", dotum, gulim, sans-serif;
}

body * {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.fw-bold {
  font-weight: bold;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.valign-t {
  vertical-align: top;
}

.valign-b {
  vertical-align: bottom;
}

.valign-m {
  vertical-align: middle;
}

.fc-primary {
  color: #1b61aa;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.btn.btn-outline-gray {
  border: 1px solid #999999;
  color: #999999;
  background-color: #ffffff;
}
.btn.btn-gray {
  color: #ffffff;
  background-color: #999999;
}
.btn.btn-outline-dark {
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
}
.btn.btn-round {
  border-radius: 3.125rem;
}
.btn.btn-sm {
  height: 1.3571428571rem;
  font-size: 0.5714285714rem;
  padding: 0 0.5rem;
}
.btn.btn-white {
  background-color: #ffffff;
}
.btn.btn-primary {
  background-color: #31b9f2;
  color: #ffffff;
}
.btn.btn-outline-primary {
  border: 1px solid #417ed0;
  background-color: #ffffff;
  color: #417ed0;
}
.btn.btn-outline-secondary {
  border: 1px solid #0066cb;
  background-color: #ffffff;
  color: #0066cb;
}
.btn.btn-secondary {
  background-color: #0066cb;
  color: #ffffff;
}
.btn.btn-outline-red {
  border: 1px solid #e34b4b;
  background-color: #ffffff;
  color: #e34b4b;
}
.btn.btn-submit-color {
  background-color: #417ed0;
  color: #ffffff;
}
.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-dark {
  background-color: #efefef;
  color: #000000;
}
.btn.btn-md {
  height: 1.9642857143rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;
}
.btn.btn-md.btn-round {
  border-radius: 3.125rem;
}
.btn.btn-lg {
  height: 3.9285714286rem;
  border-radius: 4px;
  font-size: 1.1428571429rem;
  font-weight: 600;
  padding: 0 1rem;
}
.btn.btn-wide {
  width: 100%;
}

.soldout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, .8);
}

.soldout::after {
  content: 'SOLD OUT';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

footer {
  background-color: #e9e9e9;
  padding: 1.4285714286rem 0 2.1428571429rem;
}
footer .btn-wrap.install {
  text-align: center;
}
footer .btn-wrap.install .btn {
  margin: 0 0.1785714286rem;
  height: 1.4285714286rem;
  font-size: 0.7142857143rem;
  padding: 0 0.5rem;
}
footer .btn-wrap.install .btn:hover {
  background-color: #31b9f2;
}
footer .notice-for-install {
  text-align: center;
  font-size: 0.7142857143rem;
}
footer .copyright {
  text-align: center;
  font-size: 0.8571428571rem;
  margin-top: 1.7857142857rem;
}

header.bg-white .gnb {
  border-bottom-color: #b2b2b2;
}

.gnb {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  height: 88;
  border-bottom: 1px solid #404347;
  padding: 0 20;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.gnb .suffix .link-manage {
  font-size: 15px;
  color: #e34b4b;
  margin-right: 15px;
}
.gnb .suffix .user-name {
  font-size: 17px;
  font-weight: 700;
  color: #417ed0;
}
.gnb .suffix .login-wrap {
  display: inline-block;
  margin-left: 10px;
}
.gnb .suffix .login-wrap li {
  display: inline-block;
  margin-left: 10px;
}
.gnb .suffix .login-wrap .login {
  position: relative;
  padding-right: 36px;
}
.gnb .suffix .login-wrap .login:after {
  content: "";
  position: absolute;
  right: 3px;
  top: 3px;
  display: inline-block;
  width: 25px;
  height: 23px;
  background-image: url("/images/front/icon_login.png");
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-color: #ffffff;
}
header .topper {
  flex: 1 1 auto;
  text-align: right;
  padding: 0.7142857143rem 0.7142857143rem;
  border-bottom: 1px solid #d3d3d3;
}
header .topper .user-name {
  display: inline-block;
  font-size: 0.9285714286rem;
  font-weight: 700;
  color: #417ed0;
}
header .topper .login-wrap {
  display: inline-block;
  margin-left: 0.3571428571rem;
}
header .topper .login-wrap li {
  display: inline-block;
  margin-left: 0.3571428571rem;
}
header .topper .login-wrap .btn {
  height: 1.2857142857rem;
  font-size: 0.9285714286rem;
  padding: 0 0.5rem;
}
header .topper .login-wrap .btn.login {
  position: relative;
}
header .logo {
  padding: 1.0714285714rem 0;
  position: relative;
}
header .logo .btn-all-menu {
  position: absolute;
  display: inline-block;
  left: 0.8571428571rem;
  top: 2.1428571429rem;
  width: 1.9285714286rem;
  height: 1.5714285714rem;
  background-image: url("/images/front/icon_menu.png");
  background-repeat: no-repeat;
  background-size: contain;
}
header .logo h1 {
  display: inline-block;
  margin: auto;
}
header .logo h1 img {
  width: 13.5714285714rem;
}

nav.nav {
  background-color: rgb(44, 173, 226);
  overflow-x: auto;
}
nav.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav.nav ul li {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  justify-content: center;
}
nav.nav ul li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  height: 0.625rem;
  width: 1px;
  transform: translateY(-50%);
  border-right: 1px solid #d3d3d3;
}
nav.nav ul li a {
  display: flex;
  align-items: center;
  height: 2.2142857143rem;
  color: #ffffff;
  font-size: 0.7857142857rem;
  font-weight: 700;
  text-decoration: none;
}

nav.all-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 4;
}
nav.all-menu.open {
  display: block;
}
nav.all-menu .header {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5714285714rem;
  border-bottom: 1px solid #ffffff;
  padding-left: 1.4285714286rem;
}
nav.all-menu .header .logo {
  display: inline-block;
  height: 1.4285714286rem;
  color: #ffffff;
  font-size: 1.1428571429rem;
  font-weight: 700;
  background-image: url("/images/front/icon_symbol.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-left: 1.7857142857rem;
}
nav.all-menu .header .btn-close-menu {
  position: absolute;
  right: 0.5714285714rem;
  top: 1.0714285714rem;
  width: 1.5714285714rem;
  height: 1.5714285714rem;
  background-image: url("/images/front/icon_close_menu.png");
  background-repeat: no-repeat;
  background-size: contain;
}
nav.all-menu .menu-list {
  margin: 0.7142857143rem;
}
nav.all-menu .menu-list li {
  border-bottom: 1px solid #666666;
}
nav.all-menu .menu-list li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.0714285714rem 0.7142857143rem;
  color: #ffffff;
}
nav.all-menu .menu-list li a:after {
  content: ">";
  display: inline-block;
}

[class*=icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-arrow-half {
  width: 34px;
  height: 10px;
  background-image: url("/images/front/icon_arrow_half.png");
}

.icon-calendar {
  width: 22px;
  height: 22px;
  background-image: url("/images/front/icon_calendar.gif");
}

.icon-home {
  width: 21px;
  height: 19px;
  background-image: url("/images/front/icon_home.png");
}

.icon-heart {
  width: 0.5714285714rem;
  height: 0.4642857143rem;
  background-image: url("/images/front/icon_heart.png");
}

.pagination {
  display: flex;
  width: 100%;
  padding: 0 0.7142857143rem;
  justify-content: space-between;
}
.pagination .prev-wrap, .pagination .next-wrap {
  flex: 0 0 4.2857142857rem;
}
.pagination .prev-wrap a, .pagination .next-wrap a {
  display: inline-flex;
  width: 1.7857142857rem;
  height: 1.7857142857rem;
  border: 1px solid #999999;
  color: #999999;
  letter-spacing: -4px;
  align-items: center;
  justify-content: center;
}
.pagination .prev-wrap a.disabled, .pagination .next-wrap a.disabled {
  border: 1px solid #d8d8d8;
  color: #d8d8d8;
}
.pagination .next-wrap {
  text-align: right;
}
.pagination .pages a {
  display: inline-block;
  padding: 0.3571428571rem;
}
.pagination .pages a.current {
  font-weight: 700;
  color: #1b61aa;
}

.tab-wrap {
  padding: 0.7142857143rem 0.7142857143rem;
  background-color: #ffffff;
}
.tab-wrap > ul {
  display: flex;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}
.tab-wrap > ul li {
  flex: 1 1 auto;
  border-right: 1px solid #aaaaaa;
}
.tab-wrap > ul li:nth-last-child(1) {
  border-right: 0;
}
.tab-wrap > ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7142857143rem;
  color: #767676;
  height: 1.5714285714rem;
}
.tab-wrap > ul li.active a {
  background-color: #41435b;
  color: #ffffff;
}

.input-wrap {
  height: 1.7857142857rem;
  overflow: hidden;
  min-width: 3.5714285714rem;
}
.input-wrap input, .input-wrap select, .input-wrap textarea {
  border-radius: 0;
  border: 1px solid #d0d0d0;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 0.5357142857rem;
  padding: 0.3571428571rem;
  background-color: #ffffff;
}
.input-wrap input::placeholder, .input-wrap select::placeholder, .input-wrap textarea::placeholder {
  color: #8d8d8d;
}
.input-wrap input:focus, .input-wrap select:focus, .input-wrap textarea:focus {
  outline: none;
  background-color: #ecf3f8;
  border-color: #31b9f2;
}
.input-wrap select {
  padding: 0 0.3571428571rem;
}
.input-wrap.textarea-wrap {
  padding: 0.1785714286rem 0;
  height: auto;
}
.input-wrap.textarea-wrap textarea {
  resize: none;
}

.input-group {
  display: flex;
  align-items: center;
}
.input-group .input-wrap {
  margin-bottom: 0;
}
.input-group .dash {
  padding: 0 0.1785714286rem;
}
.input-group.phone .input-wrap {
  min-width: 0;
  width: 2.3571428571rem;
  flex: 1 1 3.5714285714rem;
}
.input-group.phone .input-wrap input {
  width: 100%;
}
.input-group.biz-number .input-wrap {
  min-width: 0;
  width: auto;
}
.input-group.corporation-number .input-wrap {
  min-width: 0;
}

.checkbox-wrap {
  display: inline-block;
  margin-right: 0.3571428571rem;
  width: 1.0714285714rem;
  height: 1.0714285714rem;
}
.checkbox-wrap input[type=checkbox] {
  width: 1.0714285714rem;
  height: 1.0714285714rem;
  margin: 0;
}

.radio-wrap input[type=radio] {
  position: relative;
  width: 0.7857142857rem;
  height: 0.7857142857rem;
  appearance: none;
  font-size: 0;
}
.radio-wrap input[type=radio]:before {
  content: "";
  position: absolute;
  bottom: -0.1785714286rem;
  left: 0;
  display: inline-block;
  width: 0.8928571429rem;
  height: 0.8928571429rem;
  border: 1px solid #d0d0d0;
  border-radius: 50%;
}
.radio-wrap input[type=radio]:checked:before {
  border-color: #e34b4b;
}
.radio-wrap input[type=radio]:checked:after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0.1785714286rem;
  width: 0.6071428571rem;
  height: 0.6071428571rem;
  border-radius: 50%;
  background-color: #e34b4b;
}

.table-style {
  padding: 0.7142857143rem 0.7142857143rem;
  font-size: 14px;
}
.table-style > ul {
  display: table;
  width: 100%;
  border-top: 1px solid #d8d8d8;
}
.table-style.w-100 > ul > li {
  display: table;
  width: 100%;
}
.table-style > ul > li .th.w-100{
  width: 100%;
  text-align: center;
}
.table-style > ul > li {
  display: table-row;
}
.table-style > ul > li .th, .table-style > ul > li .td {
  display: table-cell;
  height: 34px;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px 5px 5px 17px;
}
.table-style > ul > li .th {
  color: #818181;
  width: 5.3571428571rem;
  background-color: #f3f3f3;
}
.table-style > ul > li .td {
  font-weight: 700;
}
.table-style > ul > li .td.align-c {
  text-align: center;
}

.login {
  text-align: center;
  background-color: #ffffff;
}
.login header {
  padding: 1.7857142857rem 0 1.4285714286rem;
}
.login header h1 {
  margin: 0;
}
.login header h1 img {
  width: 60.0666666667vw;
}
.login .visual {
  padding: 5.3333333333vw 0;
  color: #ffffff;
  height: 29.3333333333vw;
  background-image: url("/images/front/m_visual.jpg");
  background-size: cover;
}
.login .visual p {
  margin: 0;
}
.login .visual .title {
  line-height: 1.35;
  font-size: 4.6666666667vw;
  font-weight: 500;
}
.login .visual .sub-text {
  margin-top: 1.0714285714rem;
  font-size: 2.1333333333vw;
  font-weight: 300;
}
.login .container {
  padding: 1.7857142857rem 0.7142857143rem 2.5rem;
  max-width: 40.625rem;
  margin: auto;
}
.login .container h2 {
  font-weight: 500;
  font-size: 1.0714285714rem;
  text-align: left;
  margin: 1.0714285714rem 0 0.7142857143rem;
}
.login .container .sub-description {
  font-size: 0.7142857143rem;
  text-align: left;
}
.login .container .input-wrap {
  margin-bottom: 0.4285714286rem;
  height: 2.8571428571rem;
}
.login .container .input-wrap input {
  font-size: 16px;
}
.login .container .submit {
  margin-top: 0.4642857143rem;
}
.login .container .submit.btn.btn-md {
  height: 2.8571428571rem;
}
.login .container .link {
  margin: 1.5625rem 0 0;
  text-align: center;
}
.login .container .link > ul {
  margin: 0;
}
.login .container .link > ul li {
  position: relative;
  display: inline-block;
  padding: 0 1.875rem;
}
.login .container .link > ul li:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.1875rem;
  border-right: 1px solid #000000;
  height: 0.9375rem;
}
.login .container .link > ul li:nth-last-child(1):after {
  content: none;
}
.login .container .link > ul li a.btn-link {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}
.login .user-info-modify {
  text-align: left;
}
.login .user-info-modify .btn.btn-md {
  height: 2.8571428571rem;
}

section.title-wrap {
  padding: 2rem 0;
  background-color: #ffffff;
}
section.title-wrap h2 {
  margin: 0;
  font-size: 1.375rem;
  text-align: center;
}

.div_information {
  color: #fff;
  background-color: rgb(44, 173, 226);
  padding: 8px 12px;
  font-size: 14px;
}

.car-list-wrap {
  padding-top: 0.3571428571rem;
  padding-bottom: 1.0714285714rem;
  background-color: #ffffff;
}
.car-list-wrap .count {
  margin: 0.7142857143rem auto;
  font-size: 0.7857142857rem;
  padding: 0.3571428571rem 0.7142857143rem;
  border-bottom: 1px solid #d8d8d8;
}
.car-list-wrap .count p {
  display: inline;
  font-weight: 700;
}
.car-list-wrap .count p .fc-emphas {
  color: #e34b4b;
}

.car-list.swiper {
  padding-left: 0.7142857143rem;
  padding-right: 0.7142857143rem;
  height: 21.4285714286rem;
}
.car-list.swiper .carbox {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #fff;
  border: 0.0357142857rem solid #d9d9d9;
  box-sizing: border-box;
  cursor: pointer;
}
.car-list.swiper .carbox .item-number {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 1.5rem;
  font-size: 0.7857142857rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.2142857143rem;
  min-width: 1.7857142857rem;
  text-align: center;
  z-index: 1;
}
.car-list.swiper .carbox .area_h {
  padding: 0.3571428571rem 0.5357142857rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.0357142857rem solid #d9d9d9;
}
.car-list.swiper .carbox .area_h button {
  display: inline-block;
  overflow: visible;
  border: 0;
  cursor: pointer;
  background: #fff;
}
.car-list.swiper .carbox .area_h button .ico_carheart {
  display: inline-block;
  width: 0.6071428571rem;
  height: 0.6071428571rem;
  background-image: url(/mainimg/icon_carheart_off.png);
}
.car-list.swiper .carbox .area_h i {
  display: inline-block;
  vertical-align: top;
  background: center/100% no-repeat;
}
.car-list.swiper .carbox .area_h .ct_c {
  display: inline-block;
  font-weight: 600;
  font-size: 0.7142857143rem;
  line-height: 0.5714285714rem;
  color: #5d5fef;
}
.car-list.swiper .carbox .area_h .ct_r {
  display: inline-block;
  font-weight: 600;
  font-size: 0.7142857143rem;
  line-height: 0.5714285714rem;
  color: #222;
}
.car-list.swiper .carbox .number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7142857143rem 0.5714285714rem;
  margin: 0 0 0.3571428571rem;
  background: #f0f4f8;
}
.car-list.swiper .carbox .number .n_tit {
  font-size: 0.7142857143rem;
  color: #595959;
  font-weight: 700;
  line-height: 0.5rem;
}
.car-list.swiper .carbox .number .n_tit span {
  color: #2279cb;
}
.car-list.swiper .carbox .number .n_tit span.fc-purple {
  color: purple;
}
.car-list.swiper .carbox .carname {
  position: relative;
  margin: 0.7142857143rem 0;
  padding: 0.3571428571rem 0.5714285714rem;
  height: 2.6785714286rem;
  text-align: center;
}
.car-list.swiper .carbox .carname .c_model {
  font-size: 0.8571428571rem;
  line-height: 0.6785714286rem;
  font-weight: 700;
}
.car-list.swiper .carbox .carname .car-number {
  margin-top: 0.1785714286rem;
  font-size: 0.7142857143rem;
  font-weight: 700;
}
.car-list.swiper .carbox .carname p {
  padding: 0.3571428571rem 0;
  font-weight: 600;
  font-size: 0.7142857143rem;
  line-height: 1.4;
  color: #595959;
  margin: 0;
}
.car-list.swiper .carbox .carname p span {
  padding: 0 0.1785714286rem;
}
.car-list.swiper .carbox .carname p span:before {
  left: 2.5357142857rem;
}
.car-list.swiper .carbox .carname p span:after {
  left: 4.7142857143rem;
}
.car-list.swiper .carbox .carname .fc-red {
  color: #e34b4b;
  font-size: 0.7142857143rem;
}
.car-list.swiper .carbox .carcheck {
  background: #f1f1f1;
  height: 3.9285714286rem;
  padding: 0.3571428571rem 0.7142857143rem;
  text-align: left;
  font-size: 0.7142857143rem;
}
.car-list.swiper .carbox .carcheck p {
  margin: 0.3571428571rem 0;
  padding: 0.0714285714rem 0;
  font-weight: 600;
}
.car-list.swiper .carbox .carcheck p .fc-red {
  color: #e34b4b;
  font-size: 0.7142857143rem;
}
.car-list.swiper .carbox .carcheck p span {
  padding-right: 0.1785714286rem;
  color: #999;
}
.car-list.swiper .carbox .image-wrap {
  position: relative;
  height: 7.8571428571rem;
  overflow: hidden;
}
.car-list.swiper .carbox .image-wrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}
.car-list.swiper .carbox .image-wrap:hover img {
  transform: translateY(-50%) scale(1.1);
}
.car-list.swiper .swiper-button-next:after,
.car-list.swiper .swiper-button-prev:after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 1.7857142857rem;
  height: 1.7857142857rem;
  border-radius: 50%;
  font-size: 0.8928571429rem;
}

.view-detail .header {
  background-color: #e0e7ed;
  padding-top: 1.0714285714rem;
}
.view-detail .header .title {
  padding: 0 0.7142857143rem;
  margin: 0;
  font-size: 1.2142857143rem;
  font-weight: 700;
}
.view-detail .header .summary {
  padding: 0 0.7142857143rem;
  margin-top: 0.5357142857rem;
  font-size: 0.8571428571rem;
}
.view-detail .header .car-info {
  display: flex;
  justify-content: space-around;
  padding: 0.9375rem 0.7142857143rem;
  font-size: 0.8571428571rem;
  font-weight: 700;
  background-color: #ffffff;
}
.view-detail .header .car-info [class*=auction-] {
  flex: 1 1 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
.view-detail .header .car-info [class*=auction-]:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.1785714286rem;
  width: 1px;
  height: 0.5357142857rem;
  border-right: 1px solid #000000;
}
.view-detail .header .car-info [class*=auction-]:last-child:after {
  content: none;
}
.view-detail .header .car-info .auction-status {
  color: purple;
}
.view-detail .header .car-info .auction-type {
  color: #2279cb;
}
.view-detail .header .auction-time {
  display: flex;
  font-size: 0.8571428571rem;
  background-color: #f5d5d5;
  padding: 0.5357142857rem 0.7142857143rem;
  flex-direction: column;
}
.view-detail .header .auction-time > .end,
.view-detail .header .auction-time .remain {
  flex: 1 1 auto;
  display: inline-block;
}
.view-detail .header .auction-time > .end .time,
.view-detail .header .auction-time .remain .time {
  font-weight: 700;
}
.view-detail .header .auction-time .remain .time {
  color: #e34b4b;
}
.view-detail .car-image-slide {
  height: 66.6666666667vw;
}
.view-detail .car-image-slide .slide {
  height: 66.6666666667vw;
  background-color: rgba(0,0,0,.8);
}
.view-detail .car-image-slide .slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.view-detail .bx-wrapper {
  position: relative;
}

.view-detail .bx-wrapper .bx-controls-direction a {
  z-index: 3;
}

.view-detail .bx-controls .bx-prev,
.view-detail .bx-controls .bx-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
}

.view-detail .bx-controls .bx-prev {
  left: 4%;
}

.view-detail .bx-controls .bx-next {
  right: 4%;
}

/* .view-detail .bx-controls .bx-prev:before,
.view-detail .bx-controls .bx-next:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 0.7142857143rem;
  height: 0.7142857143rem;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform-origin: center;
}

.view-detail .bx-controls .bx-prev:before {
  border-top: 0;
  border-right: 0;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  left: 7%;
} */

.view-detail .bx-controls .bx-next:before {
  right : 7%;
}


.view-detail .bx-controls .bx-pager {
  display: inline-block;
  position: absolute;
  bottom: 0.7142857143rem;
  right: 0.7142857143rem;
  width: auto;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0.2857142857rem;
  font-size: 0.7142857143rem;
  padding: 0.3571428571rem;
  font-family: "SUIT", sans-serif;
  z-index: 100;
}
.view-detail .car-description h2 {
  margin: 0;
  padding: 0.7142857143rem;
  background-color: #ffffff;
  font-size: 0.8571428571rem;
  border-bottom: 1px solid #bdbdbd;
}
.view-detail .car-description .content-wrap {
  padding: 1.4285714286rem 0.7142857143rem;
  font-size: 0.8571428571rem;
}
.view-detail .car-description .content-wrap ul.car-info-list > li {
  display: flex;
  margin: 0.5357142857rem 0;
}
.view-detail .car-description .content-wrap ul.car-info-list > li .label {
  flex: 0 0 5.3571428571rem;
  color: #7f7f7f;
}
.view-detail .car-description .content-wrap ul.car-info-list > li .data {
  flex: 1 1 auto;
  color: #000000;
  font-weight: 700;
}
.view-detail .car-description .content-wrap.notice {
  background-color: #ffffff;
  min-height: 10.7142857143rem;
}
.view-detail .car-description .content-wrap.notice > ul li {
  margin: 0.5357142857rem 0;
  padding-left: 0.7142857143rem;
  font-size: 0.7142857143rem;
  line-height: 1.4;
  font-weight: 500;
  text-indent: -0.4285714286rem;
}
.view-detail .car-description .content-wrap .car-description-text {
  font-weight: 700;
}
.view-detail .parts-description {
  background-color: #ffffff;
}
.view-detail .parts-description .notice {
  padding: 0 0.7142857143rem;
  color: #1b61aa;
  font-size: 0.6428571429rem;
}
.view-detail .parts-description h2 {
  margin: 0;
  padding: 0.7142857143rem;
  background-color: #ffffff;
  font-size: 0.8571428571rem;
}
.view-detail .parts-description .description-text {
  padding: 1.0714285714rem 0;
  margin: 0 0.7142857143rem;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #d8d8d8;
  font-size: 0.7142857143rem;
  font-weight: 700;
}
.view-detail .parts-description .btn-group {
  padding: 1.0714285714rem 0;
}
.view-detail .car-image-thumbnail {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #ffffff;
}
.view-detail .car-image-thumbnail .thumb {
  height: 8vw;
}
.view-detail .car-image-thumbnail .thumb.on {
  border: 2px solid #31b9f2;
}
.view-detail .car-image-thumbnail .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.view-detail .btn-wrap {
  background-color: #ffffff;
  padding: 1.0714285714rem 0;
  text-align: center;
}
.bottom-fixed {
  opacity: 0;
  position: sticky;
  bottom: 0;
  transition: opacity 0.3s;
}
.bottom-fixed.active {
  opacity: 1;
}
.bottom-fixed .btn.bid {
  background-color: #e34b4b;
  color: #ffffff;
  height: 3.2142857143rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

.layer-pop {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow-y: auto;
  z-index: 4;
}
.layer-pop.open {
  display: block;
}
.layer-pop .pop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0.7142857143rem;
  height: 2.5714285714rem;
  background-color: #31b9f2;
  color: #ffffff;
  font-size: 1.1428571429rem;
  font-weight: 700;
}
.layer-pop .pop-header .btn-close-pop {
  display: inline-block;
  width: 2.5714285714rem;
  height: 2.5714285714rem;
  background-color: #000000;
  background-image: url("/images/front/icon_close_pop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.layer-pop .pop-body {
  font-size: 0.8571428571rem;
}
.layer-pop .pop-body .header {
  background-color: #e0e7ed;
  padding-top: 1.0714285714rem;
}
.layer-pop .pop-body .header .title {
  padding: 0 0.7142857143rem;
  margin: 0;
  font-size: 1.2142857143rem;
  font-weight: 700;
}
.layer-pop .pop-body .header .summary {
  padding: 0 0.7142857143rem;
  margin-top: 0.5357142857rem;
  font-size: 0.8571428571rem;
}
.layer-pop .pop-body .header .car-info {
  display: flex;
  justify-content: space-around;
  padding: 0.9375rem 0.7142857143rem;
  font-size: 0.8571428571rem;
  font-weight: 700;
  background-color: #ffffff;
}
.layer-pop .pop-body .header .car-info [class*=auction-] {
  flex: 1 1 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
.layer-pop .pop-body .header .car-info [class*=auction-]:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.1785714286rem;
  width: 1px;
  height: 0.5357142857rem;
  border-right: 1px solid #000000;
}
.layer-pop .pop-body .header .car-info [class*=auction-]:last-child:after {
  content: none;
}
.layer-pop .pop-body .header .car-info .auction-status {
  color: purple;
}
.layer-pop .pop-body .header .car-info .auction-type {
  color: #2279cb;
}
.layer-pop .pop-body .header .auction-time {
  display: flex;
  font-size: 0.8571428571rem;
  background-color: #f5d5d5;
  padding: 0.5357142857rem 0.7142857143rem;
  flex-direction: column;
}
.layer-pop .pop-body .header .auction-time > .end,
.layer-pop .pop-body .header .auction-time .remain {
  flex: 1 1 auto;
  display: inline-block;
}
.layer-pop .pop-body .header .auction-time > .end .time,
.layer-pop .pop-body .header .auction-time .remain .time {
  font-weight: 700;
}
.layer-pop .pop-body .header .auction-time .remain .time {
  color: #e34b4b;
}
.layer-pop .pop-body .action-info-table > ul > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a5a5a5;
  height: 2.1428571429rem;
}
.layer-pop .pop-body .action-info-table > ul > li .label {
  flex: 0 0 7.1428571429rem;
  display: inline-flex;
  height: 100%;
  align-items: center;
  background-color: #d9d9d9;
  padding-left: 0.7142857143rem;
}
.layer-pop .pop-body .action-info-table > ul > li .data {
  flex: 1 1 auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  background-color: #f3f3f3;
  padding-right: 0.8928571429rem;
  font-weight: 700;
}
.layer-pop .pop-body .action-info-table > ul > li .data .input-wrap {
  height: 1.7857142857rem;
  width: 7.1428571429rem;
  font-size: 0.7142857143rem;
}
.layer-pop .pop-body .action-info-table > ul > li .data .input-wrap input {
  padding: 0.3571428571rem;
  text-align: right;
  font-weight: 700;
  font-size: 0.8571428571rem;
}
.layer-pop .pop-body .action-info-table > ul > li .data .unit {
  margin-left: 0.1785714286rem;
}
.layer-pop .pop-body .action-info-table > ul > li .data .end-time {
  font-weight: 700;
}
.layer-pop .pop-body .action-info-table > ul > li .data .remain-time {
  color: #e34b4b;
  font-weight: 500;
}
.layer-pop .pop-body .action-info-table > ul > li .data .radio-group {
  width: 100%;
  font-weight: 400;
  text-align: center;
}
.layer-pop .pop-body .action-info-table > ul > li .data .radio-group li {
  display: inline-block;
  margin: 0.3571428571rem;
}
.layer-pop .pop-body .action-info-table > ul > li .data .radio-label {
  vertical-align: middle;
  font-weight: 700;
}
.layer-pop .pop-body .action-info-table > ul > li.emphas .label {
  background-color: #f98b32;
  color: #ffffff;
}
.layer-pop .pop-body .action-info-table > ul > li.emphas .data {
  background-color: #f4f07c;
}
.layer-pop .pop-body .action-info-table > ul.total-list > li .label {
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  color: #31b9f2;
}
.layer-pop .pop-body .action-info-table > ul.total-list > li .data {
  background-color: #ffffff;
  color: #31b9f2;
  font-weight: 700;
  font-size: 1.2142857143rem;
}
.layer-pop .pop-body .action-info-table > ul.total-list > li .data .total {
  display: flex;
}
.layer-pop .pop-body .action-info-table > ul.total-list > li .data .total input {
  flex: 1 1 auto;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  text-align: right;
  color: #31b9f2;
  font-weight: 700;
  font-size: 1.2142857143rem;
  width: 100%;
}
.layer-pop .pop-body .agree-wrap {
  text-align: center;
  font-size: 0.8928571429rem;
  font-weight: 700;
  padding: 0.5357142857rem 0;
}
.layer-pop .pop-body .agree-wrap input {
  vertical-align: middle;
}
.layer-pop .pop-body .btn-wrap {
  text-align: center;
  margin-top: 0.8928571429rem;
}
.layer-pop .pop-body .btn-wrap .btn-submit-color {
  width: 10.7142857143rem;
  height: 2.8571428571rem;
}
.layer-pop .pop-footer {
  padding: 1.0714285714rem 0.7142857143rem;
  text-align: right;
}

.filter {
  padding: 1rem 0.7142857143rem 0.7142857143rem;
  background-color: #e0e7ed;
}
.filter.car-sale ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5357142857rem 0.1785714286rem;
}
.filter.car-sale ul li:nth-of-type(7) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.filter.car-sale ul li.active button {
  background-color: #41435b;
  color: #ffffff;
}
.filter.car-sale ul li button {
  width: 100%;
  height: 1.5714285714rem;
  text-align: center;
  color: #767676;
  font-size: 0.7857142857rem;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}
.filter.car-sale ul li input {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7857142857rem;
  border: 1px solid #aaaaaa;
}
.filter.car-sale ul li select {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7142857143rem;
  border: 1px solid #aaaaaa;
}
.filter.car-sale ul li .search-input-wrap {
  position: relative;
}
.filter.car-sale ul li .search-input-wrap input.search-input {
  padding: 0 1.4285714286rem 0 0.3571428571rem;
}
.filter.car-sale ul li .search-input-wrap button.btn-search {
  border: 0;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.2857142857rem;
  top: 0.2857142857rem;
  padding: 0;
}
.filter.car-sale ul li .search-input-wrap button.btn-search img {
  width: 100%;
}
.filter.car-sale .btn-list {
  margin-top: 0.7142857143rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3571428571rem;
  padding: 0 1.4285714286rem;
}
.filter.car-sale .btn-list button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.0714285714rem;
  height: 1.25rem;
  font-size: 0.7142857143rem;
  font-weight: 500;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}
.filter.car-sale .btn-list button.active {
  background-color: #41435b;
  color: #ffffff;
}
.filter.parts-sale ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5357142857rem 0.1785714286rem;
}
.filter.parts-sale ul li:nth-of-type(4) {
  grid-column-start: 1;
  grid-column-end: 4;
}
.filter.parts-sale ul li.active button {
  background-color: #41435b;
  color: #ffffff;
}
.filter.parts-sale ul li button {
  width: 100%;
  height: 1.5714285714rem;
  text-align: center;
  color: #767676;
  font-size: 0.7857142857rem;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}
.filter.parts-sale ul li input {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7857142857rem;
  border: 1px solid #aaaaaa;
}
.filter.parts-sale ul li select {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7142857143rem;
  border: 1px solid #aaaaaa;
}
.filter.parts-sale ul li .search-input-wrap {
  position: relative;
}
.filter.parts-sale ul li .search-input-wrap input.search-input {
  padding: 0 1.4285714286rem 0 0.3571428571rem;
}
.filter.parts-sale ul li .search-input-wrap button.btn-search {
  border: 0;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.2857142857rem;
  top: 0.2857142857rem;
  padding: 0;
}
.filter.parts-sale ul li .search-input-wrap button.btn-search img {
  width: 100%;
}
.filter.parts-sale .btn-list {
  margin-top: 0.7142857143rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3571428571rem;
  padding: 0 1.4285714286rem;
}
.filter.parts-sale .btn-list button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.0714285714rem;
  height: 1.25rem;
  font-size: 0.7142857143rem;
  font-weight: 500;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}
.filter.parts-sale .btn-list button.active {
  background-color: #41435b;
  color: #ffffff;
}
.filter input, .filter select {
  background-color: #ffffff;
}
.filter.my-bid ul {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.1785714286rem;
}
.filter.my-bid ul li:nth-of-type(7) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.filter.my-bid ul li.active button {
  background-color: #41435b;
  color: #ffffff;
}
.filter.my-bid ul li button {
  width: 100%;
  height: 1.5714285714rem;
  text-align: center;
  color: #767676;
  font-size: 0.7857142857rem;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}
.filter.my-bid ul li input {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7857142857rem;
  border: 1px solid #aaaaaa;
}
.filter.my-bid ul li select {
  width: 100%;
  height: 1.5714285714rem;
  color: #767676;
  font-size: 0.7142857143rem;
  border: 1px solid #aaaaaa;
}
.filter.my-bid ul li .search-input-wrap {
  position: relative;
}
.filter.my-bid ul li .search-input-wrap input.search-input {
  padding: 0 1.4285714286rem 0 0.3571428571rem;
}
.filter.my-bid ul li .search-input-wrap button.btn-search {
  border: 0;
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 0.2857142857rem;
  top: 0.2857142857rem;
  padding: 0;
}
.filter.my-bid ul li .search-input-wrap button.btn-search img {
  width: 100%;
}

.parts-list-wrap {
  padding-top: 0.3571428571rem;
  padding-bottom: 1.0714285714rem;
  background-color: #ffffff;
}
.parts-list-wrap .count {
  margin: 0.7142857143rem auto;
  font-size: 0.7857142857rem;
  padding: 0.3571428571rem 0.7142857143rem;
  border-bottom: 1px solid #d8d8d8;
}
.parts-list-wrap .count p {
  display: inline;
  font-weight: 700;
}
.parts-list-wrap .count p .fc-emphas {
  color: #e34b4b;
}
.parts-list-wrap .btn-group {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7142857143rem 0.7142857143rem;
}
.parts-list-wrap .btn-group .suffix {
  display: flex;
  justify-content: flex-end;
}
.parts-list-wrap .btn-group.align-c {
  justify-content: center;
}

.parts-list {
  padding-top: 1.0714285714rem;
  padding-bottom: 1.0714285714rem;
  padding-left: 0.7142857143rem;
  padding-right: 0.7142857143rem;
  overflow-x: auto;
}
.parts-list > ul {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3571428571rem;
}
.parts-list .carbox {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #fff;
  border: 0.0357142857rem solid #d9d9d9;
  box-sizing: border-box;
  cursor: pointer;
}
.parts-list .carbox .topper {
  padding: 0.3571428571rem;
  font-size: 0.7142857143rem;
}
.parts-list .carbox .topper input[type=checkbox] {
  vertical-align: middle;
}
.parts-list .carbox .image-wrap {
  position: relative;
  height: 29vw;
  overflow: hidden;
}
.parts-list .carbox .image-wrap img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}
.parts-list .carbox .image-wrap:hover img {
  transform: translateY(-50%) scale(1.1);
}
.parts-list .carbox .category {
  padding: 0.4285714286rem 0;
  text-align: center;
  font-size: 0.7142857143rem;
  font-weight: 700;
}
.parts-list .carbox .part-of-car {
  font-size: 0.8571428571rem;
  font-weight: 700;
  text-align: center;
  color: #567cad;
  background-color: #f0f3f8;
  padding: 0.4285714286rem 0;
}
.parts-list .carbox .detail-info-list {
  padding: 0.7142857143rem 0.3571428571rem;
}
.parts-list .carbox .detail-info-list li {
  display: flex;
  font-size: 0.6428571429rem;
  margin: 0.25rem 0;
}
.parts-list .carbox .detail-info-list li .label {
  flex: 0 0 3.5714285714rem;
  color: #818181;
}
.parts-list .carbox .detail-info-list li .data {
  flex: 1 1 auto;
  font-weight: 700;
}

.add-car h3 {
  font-size: 0.7857142857rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0.7142857143rem;
}
.add-car .user-info {
  background-color: #ffffff;
}
.add-car .user-info .table-style > ul li .th {
  width: 5.7142857143rem;
}
.add-car .user-info .table-style > ul li .radio-group {
  display: inline-block;
}
.add-car .user-info .table-style > ul li .radio-group > li {
  display: inline-block;
}
.add-car .user-info .table-style > ul li .input-wrap {
  height: 1.4285714286rem;
}
.add-car .user-info .table-style > ul li .flex-type {
  display: flex;
  align-items: center;
}
.add-car .user-info .table-style > ul li .flex-type > .radio-group {
  margin-right: 0.3571428571rem;
}
.add-car .user-info .table-style > ul li .account-wrap {
  padding: 0.3571428571rem 0;
}
.add-car .user-info .table-style > ul li .account-wrap [class*=account-] {
  display: flex;
  align-items: center;
  margin: 0.1785714286rem;
}
.add-car .user-info .table-style > ul li .account-wrap [class*=account-] .label {
  flex: 0 0 3.5714285714rem;
}
.add-car .user-info .table-style > ul li .account-wrap .input-wrap {
  flex: 1 1 auto;
}
.add-car .car-info {
  padding-top: 1.0714285714rem;
  background-color: #ffffff;
}
.add-car .car-info .flex-type {
  display: flex;
  align-items: center;
}
.add-car .car-info .flex-type.select-input-group .input-wrap:nth-child(1) {
  width: 5.3571428571rem;
  margin-right: 0.3571428571rem;
}
.add-car .car-info .flex-type .btn {
  margin-left: 0.3571428571rem;
}
.add-car .car-info .table-style > ul li .radio-group > li {
  display: inline-block;
}
.add-car .car-info .table-style > ul li .input-wrap.year {
  width: 1.7857142857rem;
}
.add-car .car-info .table-style > ul li .input-wrap.month {
  width: 1.7857142857rem;
}
.add-car .car-info .table-style > ul li .unit {
  margin: 0 0.1785714286rem;
}
.add-car .car-info .table-style > ul li .notice {
  margin-left: 0.3571428571rem;
}
.add-car .car-info .btn-wrap {
  padding: 0 0.7142857143rem 1.7857142857rem;
}
.add-car .add-photo {
  background-color: #ffffff;
  font-size: 0.7142857143rem;
}
.add-car .add-photo .flex-type {
  display: flex;
  align-items: center;
}
.add-car .add-photo .notice {
  margin-left: 0.3571428571rem;
}
.add-car .add-photo .emphas {
  color: #e34b4b;
}
.add-car .add-photo > .btn-wrap {
  padding: 0 0.7142857143rem 1.7857142857rem;
}
.add-car .add-photo .fileupload-wrap {
  padding: 1.0714285714rem 0.7142857143rem;
}
.add-car .add-photo .fileupload-wrap .topper {
  display: flex;
  justify-content: space-between;
  font-size: 0.5714285714rem;
  margin-bottom: 0.7142857143rem;
}
.add-car .add-photo .fileupload-wrap .topper > .btn-wrap {
  display: inline-block;
}
.add-car .add-photo .fileupload-wrap .img-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 0.3571428571rem;
  border: 1px solid #d8d8d8;
  padding: 0.7142857143rem;
}
.add-car .add-photo .fileupload-wrap .img-list .img-wrap {
  width: 2.8571428571rem;
  height: 2.8571428571rem;
}
.add-car .add-photo .fileupload-wrap .img-list .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-car .add-photo .contact .topper {
  padding: 0.3571428571rem 0.7142857143rem;
}
.add-car .add-photo .contact .topper p.notice {
  margin: 0;
}
.add-car .add-photo .contact .radio-group {
  display: flex;
}
.add-car .add-photo-pop .img-checkbox-list {
  margin: 1.0714285714rem 0.7142857143rem;
  overflow: auto;
  height: 30vh;
  border: 1px solid #d8d8d8;
}
.add-car .add-photo-pop .img-checkbox-list .img-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 0.3571428571rem;
  padding: 0.7142857143rem;
}
.add-car .add-photo-pop .img-checkbox-list .img-list .img-wrap img {
  width: 2.8571428571rem;
  height: 2.8571428571rem;
  object-fit: cover;
}
.add-car .add-photo-pop .btn-group {
  padding: 1.0714285714rem 0.7142857143rem;
}

.popup {
  background-color: #ffffff;
}
.popup .popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 0.7142857143rem;
  height: 2.5714285714rem;
  background-color: #003366;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
.popup .popup-header .btn-close-pop {
  display: inline-block;
  width: 2.5714285714rem;
  height: 2.5714285714rem;
  background-color: #000000;
  background-image: url("/images/front/icon_close_pop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.popup .popup-body {
  padding: 1.4285714286rem;
  font-size: 0.7142857143rem;
}

.board-notice {
  background-color: #ffffff;
}
.board-notice .board-notice-list {
  padding: 1.7857142857rem 0;
}
.board-notice .board-notice-list > ul {
  border-top: 1px solid #000000;
  margin-bottom: 1.0714285714rem;
}
.board-notice .board-notice-list > ul > li {
  display: flex;
  align-items: flex-start;
  padding: 0.7142857143rem 0.7142857143rem;
  border-bottom: 1px solid #d8d8d8;
}
.board-notice .board-notice-list > ul > li .td-check {
  flex: 0 0 1.7857142857rem;
  padding-top: 0.3571428571rem;
}
.board-notice .board-notice-list > ul > li .td {
  flex: 1 1 auto;
}
.board-notice .board-notice-list > ul > li .td a.title {
  display: block;
  font-size: 0.8571428571rem;
  margin-bottom: 0.3571428571rem;
}
.board-notice .board-notice-list > ul > li .td .content-info {
  color: #9e9e9e;
  font-size: 0.7142857143rem;
}
.board-notice .table-style .flex-type {
  display: flex;
  align-items: center;
}
.board-notice .table-style .checkbox-group {
  margin-left: 0.3571428571rem;
  flex: 1 1 auto;
}
.board-notice .table-style .checkbox-group > li {
  display: inline-block;
}
.board-notice .table-style .checkbox-group > li input[type=checkbox] {
  vertical-align: middle;
}
.board-notice .board-notice-view {
  border-top: 1px solid #000000;
}
.board-notice .board-notice-view .header {
  padding: 0.7142857143rem 0.7142857143rem;
  border-bottom: 1px solid #d8d8d8;
}
.board-notice .board-notice-view .header .title {
  font-size: 1rem;
  margin-bottom: 0.3571428571rem;
}
.board-notice .board-notice-view .header .content-info {
  color: #9e9e9e;
  font-size: 0.7142857143rem;
}
.board-notice .board-notice-view .content-view {
  padding: 0.7142857143rem;
  font-size: 0.8571428571rem;
  border-bottom: 1px solid #d8d8d8;
  min-height: 12.5rem;
  margin-bottom: 1.0714285714rem;
}
.board-notice .board-notice-view .preview-list {
  padding: 0;
  padding-bottom: 1.0714285714rem;
}
.board-notice .editor {
  min-height: 10.7142857143rem;
}
.board-notice .btn-group {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7142857143rem 0.7142857143rem;
}
.board-notice .btn-group .suffix {
  display: flex;
  justify-content: flex-end;
}
.board-notice .btn-group.align-c {
  justify-content: center;
}


.add-parts h3 {
  font-size: 0.7857142857rem;
  font-weight: 700;
  margin: 0;
  padding: 0 0.7142857143rem;
}
.add-parts .add-sale-list {
  background-color: #ffffff;
}
.add-parts .add-sale-list .table-style > ul li .th {
  width: 5.7142857143rem;
}
.add-parts .add-sale-list .table-style > ul li .radio-group {
  display: inline-block;
}
.add-parts .add-sale-list .table-style > ul li .radio-group > li {
  display: inline-block;
}
.add-parts .add-sale-list .table-style > ul li .input-wrap {
  height: 1.4285714286rem;
}
.add-parts .add-sale-list .table-style > ul li .flex-type {
  display: flex;
  align-items: center;
}
.add-parts .add-sale-list .table-style > ul li .flex-type > .radio-group {
  margin-right: 0.3571428571rem;
}
.add-parts .add-sale-list .table-style > ul li .account-wrap {
  display: grid;
  grid-template-columns: 7.1428571429rem auto;
  gap: 0.3571428571rem;
  padding: 0.3571428571rem 0;
}
.add-parts .add-sale-list .table-style > ul li .account-wrap [class*=account-] {
  display: flex;
  align-items: center;
}
.add-parts .add-sale-list .table-style > ul li .account-wrap [class*=account-] .label {
  flex: 0 0 3.5714285714rem;
}
.add-parts .add-sale-list .table-style > ul li .account-wrap .account-holder {
  grid-column-start: 1;
  grid-column-end: 3;
}
.add-parts .add-sale-list .table-style > ul li .account-wrap .account-holder .input-wrap {
  flex: 1 1 auto;
}
.add-parts .car-info {
  padding-top: 1.0714285714rem;
  background-color: #ffffff;
}
.add-parts .car-info .flex-type {
  display: flex;
  align-items: center;
}
.add-parts .car-info .flex-type.select-input-group .input-wrap:nth-child(1) {
  width: 5.3571428571rem;
  margin-right: 0.3571428571rem;
}
.add-parts .car-info .flex-type .btn {
  margin-left: 0.3571428571rem;
}
.add-parts .car-info .table-style > ul li .radio-group > li {
  display: inline-block;
}
.add-parts .car-info .table-style > ul li .input-wrap.year {
  width: 1.7857142857rem;
}
.add-parts .car-info .table-style > ul li .input-wrap.month {
  width: 1.7857142857rem;
}
.add-parts .car-info .table-style > ul li .unit {
  margin: 0 0.1785714286rem;
}
.add-parts .car-info .table-style > ul li .notice {
  margin-left: 0.3571428571rem;
}
.add-parts .car-info .btn-wrap {
  padding: 0 0.7142857143rem 1.7857142857rem;
}
.add-parts .add-sale-list {
  background-color: #ffffff;
  font-size: 0.7142857143rem;
}
.add-parts .add-sale-list .flex-type {
  display: flex;
  align-items: center;
  gap: 0.3571428571rem;
}
.add-parts .add-sale-list .flex-type.brand .input-wrap {
  flex: 1 1 50%;
}
.add-parts .add-sale-list .flex-type .checkbox-wrap input[type=checkbox] {
  vertical-align: middle;
}
.add-parts .add-sale-list .flex-type .option {
  margin-left: 0.3571428571rem;
}
.add-parts .add-sale-list .notice {
  margin-left: 0.3571428571rem;
}
.add-parts .add-sale-list .emphas {
  color: #e34b4b;
}
.add-parts .add-sale-list > .btn-wrap {
  padding: 0 0.7142857143rem 1.7857142857rem;
}
.add-parts .add-sale-list .fileupload-wrap {
  padding: 1.0714285714rem 0.7142857143rem;
}
.add-parts .add-sale-list .fileupload-wrap .topper {
  display: flex;
  justify-content: space-between;
  font-size: 0.5714285714rem;
  margin-bottom: 0.7142857143rem;
}
.add-parts .add-sale-list .fileupload-wrap .topper > .btn-wrap {
  display: inline-block;
}
.add-parts .add-sale-list .fileupload-wrap .img-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 0.3571428571rem;
  border: 1px solid #d8d8d8;
  padding: 0.7142857143rem;
}
.add-parts .add-sale-list .fileupload-wrap .img-list .img-wrap {
  width: 2.8571428571rem;
  height: 2.8571428571rem;
}
.add-parts .add-sale-list .fileupload-wrap .img-list .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-parts .add-sale-list .contact .topper {
  padding: 0.3571428571rem 0.7142857143rem;
}
.add-parts .add-sale-list .contact .topper p.notice {
  margin: 0;
}
.add-parts .add-sale-list .contact .radio-group {
  display: flex;
}

.form-table {
  border: 1px solid #bbbbbb;
  margin-bottom: 0.3571428571rem;
}
.form-table > ul {
  display: table;
  width: 100%;
}
.form-table > ul > li {
  display: table-row;
}
.form-table > ul > li .label, .form-table > ul > li .data {
  display: table-cell;
  height: 1.6428571429rem;
  padding: 0.2142857143rem 0.2142857143rem 0.2142857143rem 0.3571428571rem;
  vertical-align: middle;
  border-bottom: 1px solid #d6d6d6;
}
.form-table > ul > li .label .input-wrap, .form-table > ul > li .data .input-wrap {
  display: inline-block;
  height: 1.1785714286rem;
  vertical-align: middle;
  width: 6.4285714286rem;
  min-width: 0;
}
.form-table > ul > li .label .input-wrap.w-238, .form-table > ul > li .data .input-wrap.w-238 {
  width: 8.5rem;
}
.form-table > ul > li .label .input-group, .form-table > ul > li .data .input-group {
  display: flex;
  align-items: center;
}
.form-table > ul > li .label .input-group .input-wrap, .form-table > ul > li .data .input-group .input-wrap {
  margin-bottom: 0;
}
.form-table > ul > li .label .input-group .dash, .form-table > ul > li .data .input-group .dash {
  padding: 0 0.1785714286rem;
}
.form-table > ul > li .label .input-group.phone .input-wrap, .form-table > ul > li .data .input-group.phone .input-wrap {
  min-width: 0;
  width: 2.3571428571rem;
}
.form-table > ul > li .label .input-group.phone .input-wrap input, .form-table > ul > li .data .input-group.phone .input-wrap input {
  width: 2.3571428571rem;
}
.form-table > ul > li .label .input-group.biz-number .input-wrap, .form-table > ul > li .data .input-group.biz-number .input-wrap {
  min-width: 0;
  width: 2.3571428571rem;
}
.form-table > ul > li .label .input-group.corporation-number .input-wrap, .form-table > ul > li .data .input-group.corporation-number .input-wrap {
  min-width: 0;
}
.form-table > ul > li .label .address, .form-table > ul > li .data .address {
  margin-top: 0.3571428571rem;
}
.form-table > ul > li .label .address .input-wrap, .form-table > ul > li .data .address .input-wrap {
  display: block;
  width: 16.0714285714rem;
  margin-top: 0.3571428571rem;
}
.form-table > ul > li .label .btn, .form-table > ul > li .data .btn {
  margin: 0 0.1785714286rem;
}
.form-table > ul > li:nth-last-child(1) .label, .form-table > ul > li:nth-last-child(1) .data {
  border-bottom: 0;
}
.form-table > ul > li .label {
  padding-left: 1.4285714286rem;
  background-color: #f3f3f3;
  width: 5.5357142857rem;
  font-size: 0.5rem;
  font-weight: 700;
}
.form-table .notice-text, .form-table .status-text {
  display: inline-block;
  font-size: 0.5rem;
  margin: 0.1785714286rem;
  color: #828282;
}
.form-table .status-text {
  color: #e34b4b;
}

.mypage .car-list.swiper .carname {
  height: 5.7142857143rem;
}
.mypage .car-list.swiper .carname.success {
  position: relative;
  height: 8.9285714286rem;
}
.mypage .car-list.swiper .carname p {
  padding: 0;
}
.mypage .car-list.swiper .carname p.spec {
  margin-top: 0.3571428571rem;
}
.mypage .car-list.swiper .carname .btn-secondary.success-bid {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0.3571428571rem;
  width: calc(100% - 0.7142857143rem);
  background-color: #063b6d;
}
.mypage .car-list.swiper .carcheck {
  text-align: center;
  height: 2.3214285714rem;
}
.mypage .car-list.swiper .carcheck .price {
  font-weight: 700;
}
.mypage .user-info-modify {
  background-color: #ffffff;
}
.mypage .user-info-modify .title {
  display: flex;
  align-items: flex-end;
  padding: 0.7142857143rem 0.7142857143rem 0.3571428571rem;
  gap: 0.3571428571rem;
}
.mypage .user-info-modify .title h3 {
  margin: 0;
  font-size: 0.8571428571rem;
  line-height: 1;
}
.mypage .user-info-modify .title .sub-text {
  margin: 0;
  font-size: 0.7142857143rem;
  line-height: 1;
}
.mypage .user-info-modify .table-style .flex-type {
  display: flex;
  align-items: center;
  gap: 0.3571428571rem;
}
.mypage .user-info-modify .table-style .flex-type.id .input-wrap, .mypage .user-info-modify .table-style .flex-type.nickname .input-wrap, .mypage .user-info-modify .table-style .flex-type.post-number .input-wrap {
  flex: 0 1 8.9285714286rem;
}
.mypage .user-info-modify .table-style .input-wrap {
  margin: 0.1785714286rem 0;
  height: 1.7857142857rem;
  font-size: 0.7142857143rem;
}
.mypage .user-info-modify .table-style .input-wrap input {
  padding: 0.3571428571rem;
  text-align: right;
  font-weight: 700;
  font-size: 0.8571428571rem;
}
.mypage .user-info-modify .table-style .status-text {
  margin: 0.1785714286rem 0;
  font-size: 0.6428571429rem;
  color: #e34b4b;
}
.mypage .user-info-modify .table-style .notice-text {
  margin: 0.1785714286rem 0;
  font-size: 0.6428571429rem;
  font-weight: 400;
}
.mypage .user-info-modify .agree-email {
  padding: 0 0.7142857143rem 0.7142857143rem;
  text-align: center;
}
.mypage .user-info-modify .agree-email .notice {
  margin: 0;
  font-size: 0.7142857143rem;
  font-weight: 700;
}
.mypage .user-info-modify .agree-email .radio-group > li {
  display: inline-block;
  margin: 0 0.1785714286rem;
  font-size: 0.7142857143rem;
}
.mypage .user-info-modify .btn-wrap {
  padding: 0 0.7142857143rem 1.7857142857rem;
}

.greeting {
  background-color: #ffffff;
  text-align: center;
}
.greeting .content {
  border-top: 1px solid #b0b0b0;
  word-break: keep-all;
  padding: 1.7857142857rem 1.7857142857rem 11.4285714286rem;
  background-image: url(/images/front/img_greeting.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 50%;
}
.greeting .content .header {
  font-size: 1rem;
}
.greeting .content .header p {
  margin: 0.3571428571rem 0;
}
.greeting .content .body {
  margin-top: 1.7857142857rem;
  font-size: 0.7142857143rem;
}
.greeting .content .body p {
  margin: 1.0714285714rem 0;
}
.greeting .content .footer {
  font-size: 0.7142857143rem;
}
.greeting .content p {
  line-height: 1.4;
}
.btn.btn-red {
  background-color: red;
  color: #ffffff;
}
.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.btn.btn-round {
  border-radius: 20px;
}
.btn.btn-sm {
  height: 30px;
  font-size: 14px;
  padding: 0 14px;
}
/*# sourceMappingURL=incaron_style_m.css.map */
