.global-footer {
  width: 100%;
  padding: 30px 12px;
  color: var(--white);
  background-color: var(--border);
}

.main-bottom-menu {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  z-index: 100;
  background-color: var(--yellow);

  ul {
    display: flex;
  }

  li {
    position: relative;
    width: 50%;
    text-align: center;

    a {
      display: inline-block;
      padding: 12px;
      font-weight: 700;
    }
  }

  li:first-child::after {
    content: '|';
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    font-weight: 700;
    color: var(--border);
  }
}

.footer-box {
  width: 100%;
  font-size: 0.6em;
  
  ul {
    display: flex;

    li:not(:last-child)::after {
      content: '|';
      padding: 0 6px;
    }
  }

  li {
    margin: 2px 0;
  }
}

.flex-col {
  flex-direction: column;

  li:not(:last-child)::after {
    content: '' !important;
    padding: 0;
  }
}
