.global-footer {
  width: 100%;
  padding: 30px 12px 80px 12px;
  color: var(--white);
  background-color: var(--border);
}

.footer-box {
  width: 100%;
  font-size: 0.6em;
  
  ul {
    display: flex;

    li:not(:last-child)::after {
      content: '|';
      padding: 0 6px;
    }
  }

  li {
    margin: 2px 0;
  }
}

.flex-col {
  flex-direction: column;

  li:first-child::after {
    content: '';
  }
}
/* 
.footer-box ul li:first-child::after {
  content: '|';
  padding: 0 6px;
} */
