.main-img {
  position: relative;
  height: 600px;
}

.main-img-box {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slide-fix-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  white-space: nowrap; 
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-color: rgb(27, 37, 103, .45);
}

.slide-fix-txt-main p {
  margin: 4px 0;
}

.slide-fix-txt-main,
.slide-fix-txt-main p,
.slide-fix-txt-main p:nth-child(2) {
  font-size: 1.2em;
}

.slide-fix-txt-main p:nth-child(1),
.slide-fix-txt-main p:nth-child(3) {
  letter-spacing: -2px;
}
.slide-fix-txt-main p:nth-child(2) span {
  letter-spacing: 6px;
}


