.estimate {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-path {
  padding: 20px;
  font-size: 12px;
  font-weight: 600;
}

.sub-title {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid var(--border-bright);

  p {
    margin-top: 6px;
    font-size: 13px;
    font-size: 0.6em;
  }
}

.table-form {
  padding: 40px 0;
}

.smart-editor .table-content {
  padding: 0;
}

.spam {    
  input {
    width: 30%;
    height: 26px;
  }

  input:first-child {
    margin-right: 4px;
    color: var(--blue);
    font-size: 15px;
    font-weight: 700;
    background-color: var(--post-border);
  }

  span {
    margin-left: 4px;
    font-size: 6px;
    font-weight: 700;
    color: var(--red);
  }
}

.spam .table-content {
  display: flex;
  align-items: center;
}

.submit-notice {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.submit-btn {
  text-align: center;
  margin: 20px 0 50px 0;

  button {
    width: 120px;
    padding: 12px;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 30px;
  }
}

