.global-header {
  position: relative;
  z-index: 100;
  height: 100px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #404347;
  transition: all 300ms ease-in-out;
}

.global-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  transition: color 200ms ease-in-out;
}

.logo {
  display: flex;
  width: 250px;
  height: 70px;
  /* border: 1px solid blue; */
}

.logo-sub {
  margin-left: 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 13.4px;
  /* border: 1px solid red; */
}

.gnb-nav-list {
  display: flex;
}

.gnb-nav-item a {
  font-size: 18px;
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.gnb-nav-item a:hover {
  color: red;
}

.gnb-nav-item:not(:last-child)::after {
  content: '|';
  position: relative;
  top: -2px;
  padding: 0 16px;
  font-weight: 700;
}

.auth {
  display: flex;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.admin {
  color: red;
  font-weight: 700;
}

.user-name {
  color: #417ed0;
  font-weight: 700;
}


/* ----- Slide ----- */
.slide {
  height: 800px;
}

.slide > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  overflow: hidden;
}

.slick-slide {
  position: relative;
  width: 100%;
  height: 900px !important;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;

  li {
    margin: 0 4px;

    button {
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 6px;
      background-color: white;
      font-size: 0;
      transition: all 400ms ease-in-out;
    }
  }
}

.slick-dots > .slick-active > button {
  width: 40px;
}

.slide-fix-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-fix-txt-main {
  font-size: 36px;
  font-weight: 500;
}

.slide-fix-txt-main p:nth-child(2) {
  font-size: 30px;
}

.slide-fix-txt-sub {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 400;
}

.global-footer {
  padding: 20px 0;
  background-color: #EBF0F4;

  div {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  ul {
    display: flex;
    font-weight: 500;
    color: #828181;

    li:not(:last-child)::after {
      content: '|';
      padding: 0 8px;
    }
  }
}

.footer-info {
  margin-top: 12px;
  font-size: 13.6px;
}


/* ----- Quick Menu ----- */
.quick-menu {
  position: absolute;
  top: 120px;
  right: 20px;
  z-index: 100;
  width: 146px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ccc;

  h4 {
    margin-top: 8px;
    color: red;
  }
}

.quick-menu-num {
  padding: 12px;

  &::after {
    content: '';
    display: inline-block;
    width: 110px;
    height: 1px;
    background-color: #ccc;
  }
}

.quick-menu-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  background-color: #417ed0;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.quick-menu-sub {
  margin-top: 8px;
  font-size: 14px;
}

.quick-menu-main {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 700;
}

.quick-menu-loca {
  padding: 0 12px 12px 12px;
}

.quick-menu-map a {
  display: inline-block;
  text-align: center;
  margin-top: 6px;
  padding: 2px 12px;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  background-color: #417ed0;;
}
