.border-top {
  border-top: 1px solid var(--border-bright);
}

.border-bottom {
  border-bottom: 1px solid var(--border-bright);
}

.align-col {
  width: 100%;
  flex-direction: column;

  li {
    width: 100%;
    border-bottom: 1px solid var(--border-bright);
  }
}

.table {
  margin-top: 80px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.table-list {
  display: flex;
  align-items: center;
  background-color: var(--table-back);
}

.table-list:not(:last-of-type) {
  border-bottom: 1px solid var(--border-bright);
}

.table-list li {
  padding: 12px;
  font-size: 16px;
}

.table-title {
  width: 20%;
  color: var(--th);
  text-align: center;
  font-weight: 700;
}

.table-content {
  width: 80%;
  background-color: var(--white);

  input {
    width: 90%;
    padding: 4px 8px;
    border: 1px solid var(--border-bright);
  }
}

.smart-editor .table-content {
  padding: 0;
}


.sm-input {
  input {
    width: 20%;
  }
}

.table-lg-box th {
  padding: 14px 0;
}

.smart-editor td {
  border: none !important;
  padding: 0 !important;
}

.file-post {
  td {
    display: flex;
    align-items: center;

    input {
      width: 70%;
      margin-right: 8px;
    }
  }
}

.post-btn-box {
  position: relative;
  max-width: 1200px;
  margin : 50px;
}

.select-del-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.post-btn-box > div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width : 768px){
  .table {
    margin-top: 0;
  }

  .table-list li {
    padding: 12px;
    font-size: 0.7em;
  }

  .table-title {
    width: 30%;
    color: var(--th);
    text-align: center;
    font-weight: 700;
    background-color: var(--table-back);
  }

  .table-content {
    input {
      padding: 2px 4px;
    }
  }

  .table-content {
    width: 70%;
  }
}



