table {
  width: 1200px;
  margin: 12px auto 50px auto;
  font-size: 14px;
  border-collapse: collapse;

  th {
    color: var(--th);
    background-color: var(--table-back);
  }

  th, td {
    padding: 10px;
    border: 1px solid var(--border-bright);
  }

  thead {
    th {
      width: 280px;
    }
  }
  
  input {
    width: 90%;
    padding: 4px 8px;
    border: 1px solid var(--border-bright);
  }
}

.sm-input {
  input {
    width: 20%;
  }
}

.smart-editor td {
  border: none !important;
  padding: 0 !important;
}

.file-post {
  td {
    display: flex;
    align-items: center;

    input {
      width: 70%;
      margin-right: 8px;
    }
  }
}

.post-btn-box {
  position: relative;
  max-width: 1200px;
  margin-bottom: 50px;
}

.select-del-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.post-btn-box > div {
  display: flex;
  justify-content: center;
}
