.global-header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--border);
  transition: all 300ms ease-in-out;
}

.global-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%; 
  margin: 0 auto;
  color: var(--white);
  transition: color 200ms ease-in-out;
}

.global-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 26px;
}

.gnb-nav-list {
  display: flex;
  min-width: 370px;
}

.gnb-nav-item:not(:last-child)::after {
  content: '|';
  position: relative;
  top: -2px;
  padding: 0 16px;
  font-weight: 700;
}

.gnb-nav-item a {
  font-size: 18px;
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.gnb-nav-item a:hover {
  color: var(--red);
}

.auth {
  display: flex;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.admin {
  color: red;
  font-weight: 700;
}

.user-name {
  color: var(--blue);
  font-weight: 700;
}

@media screen and (max-width : 768px){
  .global-header {
    height: auto;
    padding: 0;
    background-color: var(--white);
    border-bottom: none;
  }

  .auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 12px;
    font-size: 13px;
    background-color: var(--table-back);

    a {
      font-size: 13px;
    }
  }

  .auth.join {
    display: none;
  }

  .global-logo {
    padding: 12px;
  }

  .sidebar-icon,
  .call-icon {
    cursor: pointer;
    color: var(--primary);

    i {
      font-size: 24px;
    }
  }

  .logo {
    color: var(--primary);
    white-space: nowrap; 
  }

  .global-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    transform: none;
    color: var(--white);
    background-color: var(--border);
  }

  .gnb-nav-list {
    width: 100%;
    justify-content: center;
    padding: 0 12px;
    white-space: nowrap; 
  }

  .gnb-nav-item:not(:last-child)::after {
    top: 0;
    color: var(--th);
  }

  .gnb-nav-item a {
    display: inline-block;
    padding: 16px 0;
    font-size: 14px;
  }

  .gnb-nav-item a:hover {
    color: var(--white);
  }

  .gnb-nav-item a:active {
    color: var(--yellow);
  }

  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    padding: 40px 0;
    font-size: 14px;
    color: var(--white);
    background-color: var(--border);
    transform: translateX(-100vw);
    transition: transform 300ms ease-in-out;
    overflow: hidden;
  }

  .sidebar.is-active {
    transform: translateX(0);
  }

  .sidebar-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid var(--th);
  }

  .sidebar-close-icon {
    position: absolute;
    top: -22px;
    right: 20px;
    font-size: 24px;
    color: var(--white);
  }

  .sidebar-auth {
    display: flex;
    align-self: flex-end;
  }

  .sidebar-nav ul li {
    border-bottom: 1px solid var(--th);

    a{
      display: inline-block;
      padding: 18px 20px;
      font-weight: 700;
      transform: color 300ms ease-in-out; 
    }

    a:active {
      color: var(--yellow);
    }
  }

  .sidebar-footer {
    padding: 20px;
    white-space: nowrap; 

    li {
      margin: 6px 0;
    }
  }
}
