.global-header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--border);
  transition: all 300ms ease-in-out;
}

.global-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%; 
  margin: 0 auto;
  color: var(--white);
  transition: color 200ms ease-in-out;
}

.global-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 26px;
}

.gnb-nav-list {
  display: flex;
  min-width: 370px;
}

.gnb-nav-item:not(:last-child)::after {
  content: '|';
  position: relative;
  top: -2px;
  padding: 0 16px;
  font-weight: 700;
}

.gnb-nav-item a {
  font-size: 18px;
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.gnb-nav-item a:hover {
  color: var(--red);
}

.auth {
  display: flex;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.admin {
  color: red;
  font-weight: 700;
}

.user-name {
  color: var(--blue);
  font-weight: 700;
}

