/* ----- Quick Menu ----- */
.quick-menu {
  position: fixed;
  top: 120px;
  right: 20px;
  z-index: 100;
  width: 150px;
  text-align: center;
  background-color: var(--white);
  border-radius: 12px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.7);

  h4 {
    margin-top: 8px;
    color: var(--red);
  }
}

.quick-menu-num {
  padding: 12px;

  &::after {
    content: '';
    display: inline-block;
    width: 110px;
    height: 1px;
    background-color: var(--border-bright);
  }
}

.quick-menu-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  color: var(--white);
  font-size: 18px;
  background-color: var(--blue);

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.quick-menu-sub {
  margin-top: 8px;
  font-size: 14px;
}

.quick-menu-main {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
}

.quick-menu-loca {
  padding: 0 12px 12px 12px;
}

.quick-menu-map a {
  display: inline-block;
  text-align: center;
  margin-top: 6px;
  padding: 2px 12px;
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  background-color: var(--blue);
}
