:root {
  --primary : #262626;
  --white : #fff;
  --black : #000;
  --red : #ea0000;
  --blue : #417ed0;
  --yellow : #FEE000;
  --active : #00b5ff;
  --title-back : #2cade2;
  --border : #404347;
  --border-bright : #ccc;
  --post-border : #e4e4e4;
  --table-back : #f3f3f3;
  --th : #888;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "S-CoreDream-3Light", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-family: "S-CoreDream-3Light", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  color: var(--primary);
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

input[type="text"]:focus, 
input[type="password"]:focus {
  border: 1px solid var(--blue) !important;
  background-color: rgb(65, 126, 208, .1)
}

.sm-only,
.visually-hidden {
  display: none;
}


@media screen and (max-width : 768px) {
  .sm-only {
    display: block !important;
  }
  
  .lg-only {
    display: none !important;
  }
}
