/* ----- Slide ----- */
.slide {
  width: 100%;
  height: 850px;
}

.slide > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 950px;
  overflow: hidden;
}

.slick-slide {
  position: relative;
  width: 100%;
  height: 950px !important;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;

  li {
    margin: 0 4px;

    button {
      width: 12px;
      height: 12px;
      border: none;
      border-radius: 6px;
      background-color: white;
      font-size: 0;
      transition: all 400ms ease-in-out;
    }
  }
}

.slick-dots > .slick-active > button {
  width: 40px;
}

.slide-fix-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background-color: rgb(27, 37, 103, .45);
}

.slide-fix-txt-main {
  font-size: 36px;
  font-weight: 500;
}

.slide-fix-txt-main p:nth-child(1) {
  font-weight: 700;
}

.slide-fix-txt-main p:nth-child(2) {
  font-size: 30px;
}

.slide-fix-txt-sub {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 400;
}
