.notice {
  max-width: 1200px;
  margin: 0 auto;
}

.search-box {
  position: relative;
  margin-top: 40px;
  text-align: right;

  input {
    width: 250px;
    height: 34px;
    padding: 5px 50px 5px 5px;
    border: 1px solid var(--border-bright);
  }

  i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}

.search-box-right {
  display: flex;

  select {
    margin-right: 4px;
  }

  select,
  input {
    height: 100%;
    border: 1px solid var(--border-bright);
  }

  button {
    height: 100%;
    padding: 0 6px;
    font-weight: 500;
    background-color: var(--border-bright);
  }
}

.post-list {
  text-align: center;
}

.post-main ul {
  display: flex;
  margin-top: 12px;
  padding: 12px;
  font-weight: 700;
  background-color: var(--table-back);
  border-top: 2px solid var(--border);
  border-bottom: 1px solid var(--post-border);
}

.post-item {
  display: flex;
  padding: 12px;
  font-weight: 500;
  border-bottom: 1px solid var(--post-border);
}

.post-chk {
  min-width: 40px;
}

.post-num {
  min-width: 80px;
}

.post-link {
  display: flex;
  width: 100%;
  transition: color 200ms ease-in-out;
}

.post-link:hover {
  color: var(--blue);
}

.post-title {
  width: 700px;
  min-width: 700px;
  margin-right: 8px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.post-item .post-title {
  text-align: left;
}

.post-name {
  min-width: 140px;
}

.post-date {
  min-width: 140px;
}

.post-see {
  min-width: 80px;
}

.pagenation {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-weight: 700;
}

.pagenation a.current {
  color: var(--red);
}

.post-btn-list {
  margin : 50px 0;
  display: flex;
  justify-content: space-between;
}
