.company-info {
  width: 1200px;
  margin: 0 auto;
}

.sub-title {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid var(--border-bright);
}

.sub-title span {
  position: relative;
  padding-left: 40px;
}

.sub-title span::before {
  content: '|';
  position: absolute;
  top: 3px;
  left: 15px;
  font-size: 18px;
  display: inline-block;
}

.company-info-content > div {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.company-info-img {
  width: 420px;
  height: 420px;
  margin-right: 22px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.company-info-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 560px;
}

.company-map {
  max-width: 1200px;
  margin: 100px 0;
  
  h2 {
    text-align: center;
  }
}

.map-table {
  margin-top: 80px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.map-table-list {
  display: flex;
}

.map-table-list:not(:last-of-type) {
  border-bottom: 1px solid var(--border-bright);
}


.map-table-list:last-of-type {
  border-bottom: 1px solid var(--border);
}

.map-table-list li {
  padding: 16px;
  font-size: 16px;
}

.table-title {
  width: 20%;
  color: var(--th);
  text-align: center;
  font-weight: 700;
  background-color: var(--table-back);
}

.table-content {
  width: 80%;
}

.map {
  height: 600px;
}

.customoverlay {
  margin-bottom: 46px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--white);
}

@media screen and (max-width : 768px){
  .company-info {
    width: 100%;
    max-width: 768px;
  }

  .menu-path {
    padding: 20px;
    font-size: 12px;
    font-weight: 600;
  }

  .sub-title {
    font-size: 18px;
  }

  .sub-title span {
    padding-left: 20px;
  }

  .sub-title span::before {
    content: '|';
    top: 0;
    left: 6px;
    font-size: 16px;
  }

  .company-info-content > div {
    flex-direction: column;
    margin-top: 0;
    padding: 12px;
  }

  .company-info-img {
    width: 100%;
    height: 300px;
    margin-right: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .company-info-txt {
    margin-top: 12px;
    font-size: .8em;

    h3 {
      margin-top: 12px;
    }

    h4 {
      margin: 8px 0;
    }

    p {
      line-height: 20px;
    }
  }

  .company-map {
    margin: 40px 0;
    
    h2 {
      text-align: center;
    }
  }

  .map-table {
    margin-top: 0;
    margin: 12px;
  }

  /* .map-table-list {
    display: flex;
    align-items: center;
  } */

  .map-table-list:not(:last-of-type) {
    border-bottom: 1px solid var(--border-bright);
  }


  .map-table-list:last-of-type {
    border-bottom: 1px solid var(--border);
  }

  .map-table-list li {
    padding: 14px;
    font-size: 0.7em;
  }

  .table-title {
    width: 30%;
    color: var(--th);
    text-align: center;
    font-weight: 700;
    background-color: var(--table-back);
  }

  .table-content {
    width: 70%;
  }

  .map {
    height: 400px;
  }
}
