body {
  position: relative;
}

.global-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 300ms ease-in-out;
}

.global-header:hover {
  color: var(--black);
  background-color: var(--white);
}

.notice {
  border-bottom: var(--border);
}

.notice-text {
  font-size : 14px;
}

.notice-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 40px;
}

.auth {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-right: -10px;
}

.auth li {
  padding: 0 8px;
  color: var(--white);
}
 
.auth > li > button {
  display: flex;
  align-items: center;
  height: 30px;
  color: var(--white);
  padding: 6px;
  border-radius: 16px;
  background-color: var(--btn-color);
  transition: background-color 300ms ease-in-out;
}

.auth li button:hover {
  background-color: var(--btn-hover);
}

.auth > li > button > img {
  margin-left: 4px;
}

.user-info .admin {
  color: var(--red);
}

.user-name,
.user-name span {
  color : var(--blue);
}

.user-name span {
  font-weight: 700;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  padding: 20px 40px;
}

.logo {
  margin-right: 50px;
}

.logo img {
  width: 180px;
  height: 50px;
  object-fit: contain;
}

.gnb-nav {
  flex-grow: 1;
}

.gnb-nav-list {
  display: flex;
  justify-content: space-between;
}

.gnb-nav-item a {
  font-size: 17px;
  font-weight: 600;
  transition : opacity 300ms ease-in-out;
}

.gnb-nav-item a:hover {
  color: var(--red);
}

.slide-list img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

.scroll {
  height: 1000px;
}

.quick-menu {
  position: fixed;
  top: 170px;
  right: 10px;
  background-color: var(--white);
}

.quick-menu p {
  font-weight: 700;
  color: var(--white);
  background-color: var(--btn-color);
}

.quick-menu-list {
  display: flex;
  flex-direction: column;
}

.quick-menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
