body{
	-webkit-text-size-adjust: none;
}
/* ���̾ƿ�*/
#wrap{
	width:100%;background:#FFF;
	position: relative;
}
#bottom_contents,#main_contents{
	width:1200px;
	margin:0 auto;
	position:relative;
	z-index:50;	
	text-align:center;
	float:center;
}

#topNaviMenu{
	width:100%;
	position:relative;
	z-index:50;	
}

#NaviMenu_col {
	position:relative;
	width:1200px;
	margin:0 auto;
	height:58px;  /* height:70px;   */
}

#NaviMenu_col .col_a {
	width:199px;
	float:left;
}

#topNavi{width:1200px;text-align:center; height:58px;} /*  height:58px;  */
#meun{width:1200px;position:absolute;text-align:right;}

#con{
	overflow:hidden;
	text-align:center;
	margin-bottom:20px;
	width:1200px;
	float:left;
	margin:0 auto;
}

#main_contents{
	overflow:hidden;
	text-align:center;
	width:1200px;
	margin-top:10px;
	margin:0 auto;
	float:left;
}
#sub_contents{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	background: url(/images/sub_l_bg.jpg) no-repeat center 0;
	margin-bottom:40px;
}
#m_L{
	width:226px;
	float:left;
	text-align:left;
}
#m_C{
	float:center;
	width:10px
}
#m_R{
	width:774px;
	float:right;
	text-align:right;
}
#sub_L{
	width:250px;
	float:left;
	text-align:center;
	margin-top:10px;
	background:url(/images/sub_l_bg.jpg) no-repeat center 0;
}
#sub_Con{
	width:900px;
	float:left;
	margin-top:5px;
	min-height:150px;
	background:url(/images/sub_img.gif) no-repeat center 0;
}
#sub_Con2{
	width:900px;
	float:left;
	margin-top:5px;
	min-height:150px;
}

#bottom{
	width:1200px;
	height:90px;
	background:url(/new/images/bg_bt.jpg) no-repeat center 0;
	padding:12px 0;
	overflow:hidden;
	text-align:center;
	float:center;
	
}
/*���̾ƿ� ��*/




/*���±�*/
input.login{border:1px solid #dedede;color:#575757; font-size:12px; margin:0; padding:2px 0 0 3px; width:115px; height:20px;}
input.checkbox{margin:-1px 2px 0 0; vertical-align:middle;}

/*���±� ��*/


/*����*/
/*��������*/
#loginBox{background:url(./images/login_bg.jpg) repeat-x 0 0;padding: 0;height:150px;text-align:left;width:210px;margin-left:1px;}
#loginBox2{background:url(./images/login_bg03.jpg) repeat-x 0 0;padding: 0;height:150px;text-align:left;width:188px;margin-left:-7px;}
#loginBox table{float:left;border-top:0px solid #2971d5;border-right:0px solid #2971d5;border-left:0px solid #2971d5;border-bottom:0px solid #2971d5;width:210px;height:119px;}
#loginBox2 table{float:left;border-top:0px solid #2971d5;border-right:0px solid #2971d5;border-left:0px solid #2971d5;border-bottom:0px solid #2971d5;width:188px;height:119px;}
#loginBox ul {float:right;}


.bnBox {margin-top:10px;}

#noticeBox{height:130px;text-align:left;width:270px;float:right;}

.titBox{width:900px;position:relative;display:inline-block;border-bottom:1px solid #c5c5c5;padding-bottom:3px;}
.titBox2{width:900px;position:relative;display:inline-block;border-bottom:1px solid #c5c5c5;padding-bottom:3px;text-align:left;}
.titBox .left{ float:left;}
.titBox .right{ float:right;}
.conBox{width:100%;top:40px;line-height:24px;}
.conBox a { display:block; color:#333; }
.conBox a {display:inline; height:auto; padding:0 0 0 3px; text-decoration:none; text-indent:0px;}
.conBox a:visited{color:#333; text-decoration:none;}
.conBox a:hover{font-weight:bold; color:#164093; text-decoration:none;}
.conBox a:active{font-weight:bold; color:#164093; text-decoration:none;}
.conBox a.active{font-weight:bold; color:#164093; text-decoration:none;}

.gray{color:#666;}

#photoBox table li{padding:2px;line-height:20px;width:774px;}

/*������ �ڵ� �߰� 221201*/
#contents_basic {display:inline-block; width:100%; font-family:"SCoreDream","Malgun Gothic",sans-serif;}
#contents_basic .co_car_all {display:block; width:100%;}
#contents_basic .co_car_tit {padding: 1rem 0; width: 100%; border-bottom: 1px solid #eee;}
#contents_basic .co_car_tit .co_car_area {position: relative; width:1200px; margin: 0 auto;}
#contents_basic .co_car_tit .co_car_area .ctit {font-size: 20px; font-weight: 700; line-height: 24px; color: #000; }
#contents_basic .co_car_tit .co_car_area .view a {position: absolute; top: 3px; right: 5px; font-weight: 500; font-size: 14px; color: #A2A2A8; line-height: 17px;}
#contents_basic .co_car_tit .co_car_area .view a span {vertical-align: text-top; padding-right: 3px;}
#contents_basic .co_car_list {margin: 40px auto 25px; width:1200px;}
#contents_basic .co_car_list .carbox {display: inline-block; width: 220px; margin-right: 20.5px; background: #fff; border: 1px solid #D9D9D9; box-sizing: border-box;}
#contents_basic .co_car_list .carbox img {width:100%;}
#contents_basic .co_car_list .carbox .area_h {padding: 10px 15px; display: flex; flex-direction: row; justify-content: space-between; border-top: 1px solid #D9D9D9;}
#contents_basic .co_car_list .carbox .area_h button {display: inline-block; overflow: visible; border: 0; cursor: pointer; background: #fff;}
#contents_basic .co_car_list .carbox .area_h button .ico_carheart {display: inline-block; width:17px; height:17px; background-image: url(/mainimg/icon_carheart_off.png);}
#contents_basic .co_car_list .carbox .area_h i {display: inline-block; vertical-align: top; background: center/100% no-repeat;}
#contents_basic .co_car_list .carbox:last-child {margin-right: 0;}
#contents_basic .co_car_list .carbox .area_h .ct_c {display: inline-block; font-weight: 600; font-size: 13px; line-height: 16px; color: #5D5FEF;}
#contents_basic .co_car_list .carbox .area_h .ct_r {display: inline-block; font-weight: 600; font-size: 13px; line-height: 16px; color: #222;}
#contents_basic .co_car_list .carbox .number {display: flex; flex-direction: row; justify-content: space-between; padding: 10px 16px; margin:0 0 10px; background: #F0F4F8;}
#contents_basic .co_car_list .carbox .number .n_tit {font-size: 13px; color: #595959; font-weight: 700; line-height: 14px;}
#contents_basic .co_car_list .carbox .number .n_tit span {color:#2279cb;}
#contents_basic .co_car_list .carbox .carname {position: relative; margin: 20px 0 10px;height:75px;}
#contents_basic .co_car_list .carbox .carname .c_model {font-size: 16px; line-height: 19px; font-weight: 700; }    
#contents_basic .co_car_list .carbox .carname p {padding: 10px 0; font-weight: 600; font-size: 12px; line-height: 14px; color: #595959;}
#contents_basic .co_car_list .carbox .carname p span {padding:0 5px;}
/* #contents_basic .co_car_list .carbox .carname p span:before, .carname p span:after {content: ""; position: absolute; top: 68%; display: block; width: 1px; height: 12px; margin-top: -6px; background-color: #999;} */
#contents_basic .co_car_list .carbox .carname p span:before {left: 71px;}
#contents_basic .co_car_list .carbox .carname p span:after {left: 132px;}
#contents_basic .co_car_list .carbox .carcheck {background:#f1f1f1; padding:10px 20px; text-align: left;}
#contents_basic .co_car_list .carbox .carcheck p {padding:2px 0; font-weight: 600;}
#contents_basic .co_car_list .carbox .carcheck p strong {color:#E84F4F; font-weight: 700;font-size: 13px;}
#contents_basic .co_car_list .carbox .carcheck p span {padding-right:5px; color:#999;} 
#contents_basic .co_car_list .carbox .image-wrap{position: relative; height: 160px;overflow: hidden;}
#contents_basic .co_car_list .carbox .image-wrap img{position: absolute;top: 50%;transform: translateY(-50%);left: 0;width: 100%;}
#contents_basic .co_car_bnr {display: inline-block; margin: 2rem 0; width:1200px;}
#contents_basic .co_car_bnr .ccbnr {display: inline-block; padding: 2rem 0; margin-right:22px; width: 589px;}
#contents_basic .co_car_bnr .ccbnr:last-child {margin-right:0;}
#contents_basic .co_car_bnr .ccbnr div {position: relative; padding: 0 1.25rem 0;}
#contents_basic .co_car_bnr .ccbnr .auction {font-weight: 700; font-size: 20px; line-height: 24px; color: #fff; text-align: left;}
#contents_basic .co_car_bnr .ccbnr .btn_car a {position: absolute; top: -1.9rem; right: 1rem; background: #fff; border-radius: 24px; padding: 8px 18px; font-weight: 600; font-size: 13px; line-height: 17px;}
#contents_basic .co_car_bnr .ccbnr .btn_car .reg {color: #2279CB;}    
#contents_basic .co_car_bnr .ccbnr .btn_car .counsel {color: #22A2CB;}
#contents_basic .co_car_bnr .ccbnr p {display: flex; padding: 2.8rem 2.5rem 0; width: 70%; font-size: 14px; font-weight: 500; line-height: 20px; color: #fff; text-align: left;}
#contents_basic .co_car_bnr .ccbnr:nth-child(1) {float: left; background: #2279cb;}
#contents_basic .co_car_bnr .ccbnr:nth-child(2) {float: right; background: #22A2CB;}
#contents_basic .co_car_ser {margin:2rem 0; padding: 0 0 30px; width:100%; background:#f1f1f1;}
#contents_basic .co_car_ser .ser_tit {padding: 42px 0 24px; font-size: 20px; line-height: 24px; font-weight: 700;}
#contents_basic .co_car_ser .inform {width: 1200px; margin: 25px auto;}
#contents_basic .co_car_ser .inform .in_box {display: inline-block; width: 285px; background: #fff; padding: 0 0 2rem; margin-right: 13px; border: 1px solid #ccc;}
#contents_basic .co_car_ser .inform .in_box:last-child {margin-right: 0;}
#contents_basic .co_car_ser .inform .in_box .in_tit {font-size: 16px; color: #222222; font-weight: 700; line-height: 19px; padding: 28px 0 18px;}
#contents_basic .co_car_ser .inform .in_box p {width: 70%; margin: 0 auto; font-weight: 400; font-size: 13px; line-height: 22px; color: #595959; text-align: left;}

#contents_basic .co_car_cus {margin: 50px auto; width: 1200px;}
#contents_basic .co_car_cus .ccus_box {display: inline-block; margin-right: 18px; width: 385px; vertical-align: top;}
#contents_basic .co_car_cus .ccus_box:last-child {margin-right: 0;}
#contents_basic .co_car_cus .ccus_box .ccus_tit {padding: 0 0 17px; margin-bottom: 28px; font-weight: 500; font-size: 16px; color: #000000; text-align: left; line-height: 19px; border-bottom: 1px solid #eee;}
#contents_basic .co_car_cus .ccus_box .ccus_tit span {padding-left: 5px; font-size: 13px; color: #595959;}
#contents_basic .co_car_cus .ccus_box .ccus_tit .n_tit {display: inline-block;}
#contents_basic .co_car_cus .ccus_box .ccus_tit .n_view {display: inline-block; float: right; font-weight: 500; font-size: 14px; line-height: 17px;}
#contents_basic .co_car_cus .ccus_box .ccus_tit .n_view a {color: #A2A2A8; }


#contents_basic .co_car_cus .ccus_box .ccus_tel {padding: 0px 0 10px 5px; text-align: left; font-weight: 500; font-size: 28px; color: #222; line-height: 33px;}
#contents_basic .co_car_cus .ccus_box .ccus_tel span {padding-right:10px; font-weight: 500; font-size: 14px; color: #595959; line-height: 17px;}
#contents_basic .co_car_cus .ccus_box .ccus_time {margin: 25px 0 0 5px; font-weight: 500; font-size: 16px; color: #222; line-height: 19px; text-align: left;}
#contents_basic .co_car_cus .ccus_box .ccus_time span:first-child {padding-right: 10px; font-size: 14px; line-height: 17px; color: #595959;}
#contents_basic .co_car_cus .ccus_box .ccus_time span:last-child {padding-left: 20px; font-size: 14px; color: #AFAFAF; line-height: 17px;}
#contents_basic .co_car_cus .ccus_box .ccus_notice li {text-align: left; font-weight: 500; font-size: 14px; color: #595959; line-height: 34px;}

/* ???? ??? 2022 12 09 ?? */
#contents_basic .search-box{
	width: 1200px;
	margin: auto;
	background-color: #ebf6fb;
}
#contents_basic .co_car_list.for-sale{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
#contents_basic .co_car_list.for-sale .carbox{
	flex: 0 0 calc(20% - 16px);
	margin-right: 20px;
	margin-bottom: 20px;
}
#contents_basic .co_car_list.for-sale .carbox:nth-of-type(5n){
	margin-right: 0;
}
#contents_basic .co_car_list .carbox .area_h button .ico_carheart.on{
	background-image: url(/mainimg/icon_carheart_on.png);
}
#contents_basic .search-box .filter-group a{
	font-weight: 700;
	color: #000000;
}
/*���� ��*/


/*�������??*/
.subTitBox{width:100%;position:relative;display:inline-block;border-bottom:1px solid #c5c5c5;padding-bottom:3px; padding-top:200px;}
.subTitBox .left{ float:left;font-weight:bold;font-size:14px}
.subTitBox .right{ float:right;}
/*�������?? ��*/

/*�����??*/
.viewTitBox{width:100%;position:relative;display:inline-block;border-bottom:1px solid #c5c5c5;padding-bottom:3px; padding-top:10px;}
.viewTitBox .left{ float:left;font-weight:bold;font-size:14px}
.viewTitBox .right{ float:right;}
/*�����?? ��*/


/*Ǫ��:ȸ��Ұ�??~*/
.comepanyinfor, .footer_copyright {font-family: "SCoreDream","Malgun Gothic",sans-serif;}
.comepanyinfor {padding: 20px 0; width: 100%; background: #eee;}
.comepanyinfor .cin_tit {margin:0 auto; width:1200px; text-align: left; font-weight: 500; font-size: 14px; color: #fff; line-height: 20px;}
.comepanyinfor .cin_tit .list {display: inline-block;}
.comepanyinfor .cin_tit .list a {padding: 0 20px; line-height: 1; letter-spacing: -1px;}
.comepanyinfor .cin_tit .list a:nth-child(1) {padding-left:0}
.comepanyinfor .cin_tit .affiliates {display: inline-block; float: right;}
.comepanyinfor .cin_tit .affiliates span {margin-right: 20px;}
.comepanyinfor .cin_tit .affiliates span:last-child {margin-right: 0;}
.comepanyinfor .cin_tit .affiliates span img {width: 90px; padding: 0 19px; margin-top: -8px;}
.comepanyinfor .cin_tit .affiliates span img:last-child {width:115px; padding-right: 0;}

/*Ǫ��:ī��*/
.footer_copyright {display: inline-block; margin: 40px auto; width: 1200px;}
.footer_copyright .logo {float: left; width: 20%; text-align: left;}
.footer_copyright .logo img {padding-top: 20px;}
.footer_copyright .copy {float: right; width: 74%; text-align: left;}
.footer_copyright .copy span, .copy p {font-weight: 500; font-size: 13px; color: #595959; line-height: 28px;}
.footer_copyright .copy p {padding-top: 10px;}


#bottom_contents{height:90px;float:center; width:1200px;text-align:center;}
#bottom_area2 {position:absolute;left:210px;top:50px;text-align:left;}
#bottom_area1 {position:absolute;left:200px;top:20px;}
#bottom_area1 li{float:left;display:inline-block;padding:0 10px;}
/*Ǫ�� ��*/

#menu{width:100%;position:relative;top:0px; left:150px; }

/*-- ũ���� --------------------------------------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#menu{ position:absolute; top:28px }
}

/*-- ������ --------------------------------------*/
@-moz-document url-prefix(){
   #menu{ position:absolute; top:28px }
}


/*--- ���� -----*/

#left_login{
	width:240px;
	float:left;
	text-align:center;
	margin-top:0px;
	margin-left:25px;
}

#sub_Con2{
	width:900px;
	float:left;
		
}

.title {text-align:left}

/* ?????? */
.car-info-view{
	width: 1200px;
	margin: 20px auto;
	padding-bottom: 50px;
	text-align: left;
	font-family:'SCoreDream', "Malgun Gothic",sans-serif;;
}
.car-info-view h3{
	color: #333333;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.car-info-view .view-container{
	display:inline-block;
	vertical-align: top;
	width: 780px;
}
.car-info-view .aside{
	position: sticky;
	top: 10px;
	float: right;
	width: 400px;
}
.car-info-view .car-image,
.car-info-view .car-image .img-wrap,
.car-info-view .car-image .img-wrap img{
	width: 100%;
}
.car-info-view .car-image .img-wrap{
	position:relative;
	overflow: hidden;
	height: 520px;
}
.car-info-view .car-image .img-wrap.swiper{
	width: 780px;
	height: 520px;
}
.car-info-view .car-image .img-wrap img{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.car-info-view .img-wrap .nav-prev,
.car-info-view .img-wrap .nav-next{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 8px;
	padding: 5px;
	height: 30px;
	width: 20px;
}
.nav-prev{
	left: 10px;
}
.nav-next{
	right: 10px;
}
.swiper-button-prev.nav-prev:after, .swiper-button-next.nav-next:after{
	content: none;
}
.swiper-button-prev.nav-prev:before, .swiper-button-next.nav-next:before{
	display: inline-block;
	width: 20px;
	height: 30px;
	text-align: center;
}
.nav-prev:before{
	content: '<';
}
.nav-next:before{
	content: '>';
}
.btn-zoom{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 7px;
	border-radius: 10px;
	line-height: 1;
	background-color: #000000;
	color: #ffffff;
	font-size: 13px;
	z-index: 1;
}
.car-info-view .car-image{
	position: relative;
}
.car-info-view .car-image .pagination{
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 60px;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	font-weight: 700;
}
.pagination .current-page:after{
	content: ' /';
}
.car-info-view .img-list-wrap{
	margin-top: 10px;
}
.car-info-view .img-list-wrap .img-list ul{
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
}
.car-info-view .img-list-wrap .img-list li{
	background-color: #ffffff;
	flex: 0 0 10%;
	height: 60px;
	overflow: hidden;
}
.car-info-view .img-list-wrap .img-list li > img{
	width: 100%;
	opacity: 0.5;
}
.car-info-view .img-list-wrap .img-list li.active{
	box-sizing: border-box;
	border: 2px solid #00b5ff;
}
.car-info-view .img-list-wrap .img-list li.active > img{
	opacity: 1;
}
.notice-small{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 12px;
	color: #333333;
}
.car-info-view .detail-info dl{
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #eeeeee;
}
.car-info-view .detail-info dl dt,
.car-info-view .detail-info dl dd{
	box-sizing: border-box;
	padding: 10px;
}
.car-info-view .detail-info dl dt.label{
	flex: 0 0 15%;
	background-color: #efefef;
	border-bottom: 1px solid #dedede;
	font-weight: 700;
	color: #888888;
	font-size: 12px;
}
.car-info-view .detail-info dl dd.info-data{
	flex: 0 0 35%;
	font-weight: 700;
	border-bottom: 1px solid #eeeeee;
	font-size: 13px;
}
.car-info-view .detail-info dl dd.info-data.stretch{
	flex: 1 0 75%;
}
.car-info-view .notice-must ul li{
	text-indent: -10px;
	margin: 8px 60px 8px 10px;
	line-height: 1.8;
	font-size: 14px;
	color: #333333;
	word-break: keep-all;
}

/* ���?? aside */
.car-info-view .car-info-summary{
	color: #333333;
}
.car-info-view .car-info-summary .summary-header{
	padding: 18px;
	background-color:#ebf6fb;
	border: 1px solid #e0e0e0;
	border-bottom: 0;
}
.car-info-view .car-info-summary .summary-header .car-name{
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-header .summary-info{
	font-weight: 600;
	color: #888888;
}
.car-info-view .car-info-summary .summary-header .summary-info > span:after{
	content: ' / ';
}
.car-info-view .car-info-summary .summary-header .summary-info > span:nth-last-of-type(1):after{
	content: none;
}
.car-info-view .car-info-summary .summary-body{
	padding: 18px 0;
	padding-bottom: 80px;
	border: 1px solid #e0e0e0;
	border-top: 0;
	border-bottom: 0;
}
.car-info-view .car-info-summary .summary-body .body-topper{
	display: flex;
	justify-content: space-between;
	padding: 0 18px;
	margin-bottom: 15px;
	color: #666666;
	font-size: 13px;
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-body .body-topper .center > span{
	/* margin: 0 10px; */
}
.car-info-view .car-info-summary .summary-body .body-topper .suffix > span:after{
	content: '|';
	margin: 0 10px;
	color: #000000;
}
.car-info-view .car-info-summary .summary-body .body-topper .damage-type{
	color: purple;
}
.car-info-view .car-info-summary .summary-body .body-topper .bid-type{
	color: #2279cb;
}
.car-info-view .car-info-summary .summary-body .body-topper .bid-type em{
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-body .body-topper .icon-heart{
	display: inline-block;
	width: 17px;
	height: 17px;
	background-image: url('/mainimg/icon_carheart_off.png');
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}
.car-info-view .car-info-summary .summary-body .body-topper .on .icon-heart{
	background-image: url('/mainimg/icon_carheart_on.png');
}

.car-info-view .car-info-summary .box-gray{
	background-color: #f8f8f8;
	padding: 18px;
}
.car-info-view .car-info-summary .box-pink{
	background-color: #fff2f5;
	padding: 18px;
}
.car-info-view .car-info-summary .bar-gray > ul > li{
	background-color: #f8f8f8;
}
.car-info-view .car-info-summary .summary-body .detail-info-table{
	margin-bottom: 5px;
}
.car-info-view .car-info-summary .summary-body .detail-info-table > ul > li{
	display: flex;
	/* margin: 12px 0; */
}
.car-info-view .car-info-summary .summary-body .detail-info-table > ul > li .label{
	flex: 0 0 120px;
	color: #666666;
}
.car-info-view .car-info-summary .summary-body .detail-info-table > ul > li .data{
	color: #333333;
	font-weight: 600;
}
.car-info-view .car-info-summary .summary-body .timer-count-down > ul > li{
	display: flex;
	justify-content: space-between;
}
.car-info-view .car-info-summary .summary-body .timer-count-down > ul > li .label{
	flex: 0 0 120px;
	font-size: 14px;
	font-weight: 600;
	color: #666666;
}
.car-info-view .car-info-summary .summary-body .timer-count-down > ul > li .data{
	color: #ff4141;
	font-weight: 600;
	font-size: 15px;
}
.car-info-view .car-info-summary .summary-body .timer-count-down > ul > li .data .unit{
	color: #333333;
}
.car-info-view .car-info-summary .notice-small.bold{
	font-weight: 700;
	font-size: 14px;
}
.car-info-view .car-info-summary .notice-small{
	font-size: 13px;
	text-align: left;
	margin: 15px 0 5px 0;
	padding: 0 18px;
}
.car-info-view .car-info-summary .summary-body input[type="checkbox"]{
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.car-info-view .car-info-summary .notice-small .fc-emphas{
	color: #ff4141;
}
.car-info-view .car-info-summary .summary-body .price-list{
	border-bottom: 1px solid #e0e0e0;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li{
	display: flex;
	height: 38px;
	background-color: #f8f8f8;
	margin-bottom: 1px;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li label{
	vertical-align: middle;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li label input[type=radio]{
	vertical-align: middle;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .label{
	font-weight: 700;
	flex: 0 0 100px;
	padding: 10px 10px 10px 18px;
	background-color: #e2e2e2;
	color: #888888;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .label em{
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data{
	font-size: 13px;
	font-weight: 700;
	padding: 10px 18px 10px 10px;
	color: #000000;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data .unit{
	color: #666666;
	margin-left: 5px;
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data input{
	font-size: 13px;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data.flex-type{
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 4px;
	align-items: center;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data.has-input{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 5px 10px;
	width: calc(70% - 40px);
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li .data input[type="text"]{
	flex: 0 1 70%;
	height: 30px;
	/* border: 0; */
	padding: 5px 10px;
	text-align: right;
	box-sizing: border-box;
	font-size: 15px;
	font-weight: 700;
	min-width: 80%;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li .data input[type="text"][readonly] {
	border: 0;
	background-color: transparent;
	opacity: 1;
	color: #000000;
}
.car-info-view .car-info-summary .summary-body .bar-gray > ul > li .data.has-input .unit{
	flex: 0 1 33px;
} 
.car-info-view .car-info-summary .summary-body .bar-gray .fc-emphas{
	color: #ff4141;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li .data .unit{
	color: #666666;
	margin-left: 5px;
	font-weight: 700;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li.total{
	height: auto;
	background-color: #ffffff;
	color: #2cade2;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li.total .label, .car-info-view .car-info-summary .summary-body .price-list > ul > li.total .data{
	background-color: #ffffff;
	color: #2cade2;
	font-weight: 700;
	font-size: 18px;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li.total .data{
	display: flex;
	align-items: center;
}
.car-info-view .car-info-summary .summary-body .price-list > ul > li.total .label, .car-info-view .car-info-summary .summary-body .price-list > ul > li.total .data input[type="text"][readonly]{
	flex: 1 1 auto;
	background-color: #ffffff;
	color: #2cade2;
	font-weight: 700;
	font-size: 18px;
}

.car-info-view .car-info-summary .summary-body .price-list > ul > li.total .data .unit{
	font-size: 14px;
	color: #2cade2; 
}
.car-info-view .car-info-summary .summary-footer .button-bottom-fix{
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	width: 100%;
}
.car-info-view .car-info-summary .summary-footer .button-bottom-fix [class*=btn-]{
	flex: 1 1 50%;
}
.car-info-view .summary-footer [class*="btn-"]{
	font-size: 16px;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.car-info-view .btn-outline{
	border: 1px solid #2cade2;
	color: #2cade2;
}
.car-info-view .btn-fill{
	border: 0;
	background-color: #2cade2;
	color: #ffffff;
}
.car-info-view .location-wrap{
	text-align: right;
	padding: 10px 0;
	font-weight: 700;
}
.car-info-view .location-wrap a{
	display: inline-block;
}

/* ���޴� */
.quick-menu{
	position:absolute;
	top:178px;
	right:0;
	width: 80px;
	font-family: 'SCoreDream',sans-serif ;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 3%);
	z-index: 1001;
}
.quick-menu .menu-item{
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid #dbdbdb;
	font-weight: 700;
}
.quick-menu .menu-item:hover{
	background-color: #eee;
}
.quick-menu .menu-item:first-child{
	background-color: #ffe902;
}
.quick-menu .menu-item:last-child{
	border-bottom: 0;
}
.quick-menu .menu-item .icon{
	text-align: center;
}
.quick-menu .menu-item .icon [class*=icon-]{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.quick-menu .icon-quick-dart{
	background-image: url('/images/icon_quick_dart.png');
}
.quick-menu .icon-quick-heart{
	background-image: url('/images/icon_quick_heart.png');
}
.quick-menu .icon-quick-notice{
	background-image: url('/images/icon_quick_notice.png');
}
.quick-menu .icon-quick-chart{
	background-image: url('/images/icon_quick_chart.png');
}
.quick-menu .icon-quick-checklist{
	background-image: url('/images/icon_quick_checklist.png');
}
.quick-menu .icon-quick-docu{
	background-image: url('/images/icon_quick_docu.png');
}

/* ?��미�???��??? ?��?�� */
.zoom-image-wrap{
	min-width: 800px;
	width: 100%;
}
.zoom-image-wrap .header-summary{
	width: 100%;
}
.zoom-image-wrap .img-list-wrap{
	margin-top: 10px;
}
.zoom-image-wrap .img-list-wrap .img-list ul{
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	background-color: #ffffff;
}
.zoom-image-wrap .img-list-wrap .img-list li{
	background-color: #ffffff;
	flex: 0 0 10%;
	height: 60px;
	overflow: hidden;
}
.zoom-image-wrap .img-list-wrap .img-list li > img{
	width: 100%;
	opacity: 0.5;
}
.zoom-image-wrap .img-list-wrap .img-list li.active{
	box-sizing: border-box;
	border: 2px solid #00b5ff;
}
.zoom-image-wrap .img-list-wrap .img-list li.active > img{
	opacity: 1;
}

.layer-popup-wrap{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: rgba(0,0,0,.3);
	z-index: 1;
}
.layer-popup-wrap.open{
	display: block;
}

.layer-popup-wrap .popup-content{
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	min-height: 300px;	
	background-color: #ffffff;
}

.layer-popup-wrap .popup-content .popup-header{
	position: relative;
	padding: 15px;
	text-align: left;
	background-color: #2cade2;
	font-size: 16px;
	color: #ffffff;
	font-family: 'SCoreDream', sans-serif;
}
.layer-popup-wrap .popup-header .close-popup{
	position: absolute;
	right: 15px;
	top: 14px;
	color: #ffffff;
}
.layer-popup-wrap .popup-content .img-large{
	height: 600px;
	background-color: rgba(0,0,0,.8);
}
.layer-popup-wrap .popup-content .img-large img{
	height: 600px;
	width: 1000px;
	object-fit: contain;
}

.layer-popup-wrap .img-list-wrap{
	margin-top: 10px;
}
.layer-popup-wrap .img-list-wrap .img-list ul{
	display: flex;
	flex-wrap: wrap;
	background-color: #ffffff;
}
.layer-popup-wrap .img-list-wrap .img-list li{
	background-color: #ffffff;
	flex: 0 0 5%;
	height: 40px;
	overflow: hidden;
}
.layer-popup-wrap .img-list-wrap .img-list li > img{
	width: 100%;
	opacity: 0.5;
}
.layer-popup-wrap .img-list-wrap .img-list li.active{
	box-sizing: border-box;
	border: 2px solid #00b5ff;
}
.layer-popup-wrap .img-list-wrap .img-list li.active > img{
	opacity: 1;
}
.layer-popup-wrap .car-image .pagination{
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 50px;
	text-align: center;
	padding: 5px;
	border-radius: 20px;
	background-color: #000000;
	color: #ffffff;
	font-weight: 700;
}
.layer-popup-wrap .img-wrap .nav-prev,
.layer-popup-wrap .img-wrap .nav-next{
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 8px;
	padding: 5px;
	height: 30px;
	width: 20px;
}
.vlign-m{
	vertical-align: middle;
}
.main-layer-popup-wrap.open .main-layer-popup{
	display: block;
}
.main-layer-popup-wrap .main-layer-popup{
	position: fixed;
	display: none;
	text-align: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	min-height: 300px;
	width: 480px;
	z-index: 2;
}
.main-layer-popup-wrap .main-layer-popup .popup-header{
	position: relative;
	font-size: 25px;
	font-weight: 700;
	padding: 25px 25px 10px;
}
.main-layer-popup-wrap .main-layer-popup .popup-header .btn-close{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
}
.main-layer-popup-wrap .main-layer-popup .popup-header .popup-title{
	display: inline-block;
	width: calc(100% - 80px);
}
.main-layer-popup-wrap .main-layer-popup .popup-body{
	padding: 25px;
	min-height: 100px;
}
.main-layer-popup-wrap .main-layer-popup .popup-body img{
	width: 100%;
}
.main-layer-popup-wrap .main-layer-popup .popup-footer{
	padding: 25px;
	border-top: 1px solid #efefef;
	font-size: 16px;
	font-weight: 500;
}
.main-layer-popup-wrap .main-layer-popup .popup-footer label{
	vertical-align: middle;
}
.main-layer-popup-wrap .main-layer-popup .popup-footer input[type="checkbox"]{
	width: 16px;
	height: 17px;
}