* {
  color: var(--white);
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.notice {
  padding: 4px 12px;
  border-bottom: var(--border);
}

.notice-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.notice .close-btn {
  font-size: 24px;
  transition: transform 300ms ease-in-out;
}

.notice .close-btn:hover {
  transform: scale(1.2);
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

.logo img {
  width: 180px;
  height: 50px;
  object-fit: contain;
}

.gnb-nav-list {
  display: flex;
  min-width: 686px;
}

.gnb-nav-item a {
  padding: 6px 10px;
  font-weight: 700;
  transition : opacity 300ms ease-in-out;
}

.gnb-nav-item a:hover {
  opacity: .7;
}

.auth {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.auth li {
  padding: 6px 8px;
}

.auth li button {
  padding: 6px 12px;
  border-radius: 20px;
  background-color: var(--btn-color);
  transition: background-color 300ms ease-in-out;
}

.auth li button:hover {
  background-color: var(--btn-hover);
}

.user-info .admin {
  color: var(--red);
}

.user-name,
.user-name span {
  color : var(--blue);
}

.user-name span {
  font-weight: 700;
}

.slide-list img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

.scroll {
  height: 1000px;
}
