.estimate {
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid var(--border-bright);
  }

  table {
    width: 1200px;
    margin: 50px auto;
    border-collapse: collapse;

    th {
      color: var(--th);
      background-color: var(--table-back);
    }

    th, td {
      padding: 10px;
      border: 1px solid var(--border-bright);
    }

    thead {
      th {
        width: 280px;
      }
    }
    
    input {
      width: 90%;
      border: 1px solid var(--border-bright);
    }
  }
}

.estimate .year {
  input {
    width: 20%;
  }
}

.smart-editor td {
  border: none !important;
  padding: 0 !important;
}

.file-post {
  td {
    display: flex;
    align-items: center;

    input {
      width: 70%;
      margin-right: 8px;
    }
  }
}

.personal-info-txt {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  font-size: 14px;
  margin-top: 12px;
  padding: 12px 22px;
  border: 1px solid var(--border-bright);
}

.personal-info-check {
  margin-top: 12px;

  input {
    margin-right: 4px;
  }
}

.submit-btn {
  text-align: center;
  margin: 50px 0 80px 0;

  button {
    width: 160px;
    border-radius: 30px;
  }
}
